<div class="container-fluid" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-12 text-center" style="padding:10px;">
			<h2 class="pageHeading">
				<span class="mainColor fa fa-magic"></span>
				<span> Creating your business...</span>
			</h2>
			<p>Hang tight, this might take a few seconds...</p>
		</div>
	</div>


	<div class="row">

		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
		<div class="col-md-10 text-center">

			<h1 class="mainColor"><span class="fa fa-refresh fa-spin"></span> Working</h1>

		</div>
		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
	</div>




</div>