<div class="container-fluid">
	<div class="row text-right">
		<div class="col-md-12">
			<a href="#/support"><h4>Need help setting up? Contact us</h4></a>
		</div>
	</div>
</div>

<div class="container-fluid" style="margin-top:50px;z-index:9999;">
	<div class="row">
		<div class="col-md-2 text-center" style="padding:10px;">
			<a ng-href="#/account/collections/getstarted/step2" class="btn btn-success btn-block">
				<h3 class="noSpace"><span class="fa fa-arrow-left"></span> Previous</h3>
			</a>
		</div>

		<div class="col-md-8 text-center" style="padding:10px;">
			<h2 class="pageHeading">
				<span class="mainColor fa fa-magic"></span>
				<span> {{ GetStarted.selectedTemplate.title }}</span>
			</h2>
			<p>(Remember, this setup is not permanent and can be customized in any way)</p>
		</div>

		<div class="col-md-2 text-center" style="padding:10px;">
			<button type="button" ng-click="submitTemplate()" class="btn btn-success btn-block">
				<h3 class="noSpace">Create! <span class="fa fa-arrow-right"></span></h3>
			</button>
		</div>
	</div>


	<div class="row">

		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
		<div class="col-md-10 text-center">

			<p ng-if="GetStarted.selectedTemplate.bestFor"><strong class="mainColor">Best For:</strong> {{ GetStarted.selectedTemplate.bestFor }}</p>
			<p ng-if="GetStarted.selectedTemplate.work"><strong class="mainColor">Your work:</strong> {{ GetStarted.selectedTemplate.work }}</p>
			<p ng-if="GetStarted.selectedTemplate.product"><strong class="mainColor">Your Product:</strong> {{ GetStarted.selectedTemplate.product }}</p>
			<!-- Collection buttons -->
			<div class="text-center" style="margin-top:25px;">
				<span ng-repeat="collection in GetStarted.selectedTemplate.collections track by $index">
					<span ng-if="collection.name != 'spacer'" class="workflowItem1">
						<span class="fa" ng-class="collection.icon"></span>
						<span>{{ collection.name }}</span>
					</span>
					<span ng-if="$index != GetStarted.selectedTemplate.collections.length-1" class="fa fa-ellipsis-h"></span>
				</span>
			</div>
		</div>
		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
	</div>




</div>