<div class="container-fluid">
	<div class="row text-right">
		<div class="col-md-12">
			<a href="#/support"><h4>Need help setting up? Contact us</h4></a>
		</div>
	</div>
</div>

<div class="container" style="margin-top:50px;max-width:750px;">
	<div class="row">
		<div class="col-md-12 text-center" style="padding:10px;">
			<h2 class="pageHeading">
				<span class="mainColor fa fa-magic"></span>
				<span> Let's get started</span>
				</h2>
			<p>We'll need to know more about your business in order to give you the best experience</p>
		</div>
	</div>

	<form name="industrySelect">
		<div class="row">
			<div class="col-md-2" style="padding:10px;"></div><!-- Spacer -->
			<div class="col-md-8 text-center" style="padding:10px;">
				<label>To begin, what industry best describes your business?</label>
				<select ng-model="GetStarted.selectedIndustry" class="form-control defaultInput" required>
					<option value="manufacturing">Aerospace</option>
					<option value="consumerServices">Automotive</option>
					<option value="consumerGoods">Consumer Goods</option>
					<option value="consumerServices">Consumer Services</option>
					<option value="consumerServices">Education</option>
					<option value="consumerServices">Entertainment</option>
					<option value="consumerServices">Food & Beverage</option>
					<option value="freelancer">Graphic design</option>
					<option value="consumerServices">Health & Wellness</option>
					<option value="consumerServices">Legal</option>
					<option value="manufacturing">Manufacturing</option>
					<option value="freelancer">Photography</option>
					<option value="freelancer">Real Estate</option>
					<option value="consumerGoods">Retail</option>
					<option value="socialServices">Social & Personal Services</option>
					<option value="freelancer">Technology</option>
					<option value="consumerServices">Transportation</option>
					<option value="consumerGoods">-- Other --</option>
				</select>
			</div>
			<div class="col-md-2" style="padding:10px;"></div><!-- Spacer -->
		</div>

		<div class="row">
			<div class="col-md-2" style="padding:10px;"></div><!-- Spacer -->
			<div class="col-md-8 text-center" style="padding:10px;">
				<button ng-disabled="!GetStarted.selectedIndustry" type="button" ng-click="changeView('account/collections/getstarted/step2')" class="btn btn-success btn-block">
					<h3 class="noSpace">Next <span class="fa fa-arrow-right"></span></h3>
				</button>
			</div>
			<div class="col-md-2" style="padding:10px;"></div><!-- Spacer -->
	  	</div>
  	</form>

</div>