<div class="container-fluid">
	<div class="row text-right">
		<div class="col-md-12">
			<a href="#/support"><h4>Need help setting up? Contact us</h4></a>
		</div>
	</div>
</div>

<div class="container-fluid" style="margin-top:50px;z-index:9999;">
	<div class="row">
		<div class="col-md-2 text-center" style="padding:10px;">
			<button type="button" ng-click="changeView('account/collections/getstarted/step1')" class="btn btn-success btn-block">
				<h3 class="noSpace"><span class="fa fa-arrow-left"></span> Previous</h3>
			</button>
		</div>

		<div class="col-md-8 text-center" style="padding:10px;">
			<h2 class="pageHeading">
				<span class="mainColor fa fa-magic"></span>
				<span> Choose a Template</span>
			</h2>
			<p>Now, choose a workflow that best represents the way your business works.</p>
			<p>(Don't worry, these are just starting points. Anything and everything is customizable)</p>
		</div>

		<div class="col-md-2 text-center" style="padding:10px;">
			<button type="button" ng-disabled="!GetStarted.selectedTemplate" ng-click="changeView('account/collections/getstarted/step3')" class="btn btn-success btn-block">
				<h3 class="noSpace">Next <span class="fa fa-arrow-right"></span></h3>
			</button>
		</div>
	</div>

	<div ng-repeat="option in collectionTemplates[GetStarted.selectedIndustry] track by $index" ng-click="setSelectedTemplate($index)" class="row">

		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
		<div class="col-md-10 workflowItemContainer text-center" ng-attr-id="{{$index}}_container">

			<span class="templateCheck fa fa-check-circle fa-3x"></span>

			<h3 class="mainColor">{{ option.title }}</h3>
			<p ng-if="option.bestFor"><strong class="mainColor">Best For:</strong> {{ option.bestFor }}</p>
			<p ng-if="option.work"><strong class="mainColor">Your work:</strong> {{ option.work }}</p>
			<p ng-if="option.product"><strong class="mainColor">Your Product:</strong> {{ option.product }}</p>
			<!-- Collection buttons -->
			<div class="text-center" style="margin-top:25px;">
				<span ng-repeat="collection in option.collections track by $index">
					<span ng-if="collection.name != 'spacer'" class="workflowItem1">
						<span class="fa" ng-class="collection.icon"></span>
						<span>{{ collection.name }}</span>
					</span>
					<span ng-if="$index != option.collections.length-1" class="fa fa-ellipsis-h"></span>
				</span>
			</div>

		</div>
		<div class="col-md-1" style="padding:10px;"></div><!-- Spacer -->
	</div>
</div>