<html>
	
	<head>
		<title>WorkWoo color pallet</title>
	
	<style>

		.colorCell {
			width: 200px;
			text-align: center;
			padding: 20px;
		}

	</style>

	</head>

	<body>

		<div class="colorCell" style="color:#000;background-color:#fff">#fff (white)</div>
		<div class="colorCell" style="color:#fff;background-color:#000">#000 (black)</div>

		<div class="colorCell" style="color:#000;background-color:#e9f2ee;">#e9f2ee</div>
		<div class="colorCell" style="color:#000;background-color:#d9e9e2;">#d9e9e2</div>
		<div class="colorCell" style="color:#000;background-color:#67A88C;">#67A88C</div>
		
		<div class="colorCell" style="color:#000;background-color:#f2eae9;">#f2eae9</div>
		<div class="colorCell" style="color:#000;background-color:#e9dad9;">#e9dad9</div>
		<div class="colorCell" style="color:#000;background-color:#a86c67;">#a86c67</div>

		<div class="colorCell" style="color:#000;background-color:#e9edf2;">#e9edf2</div>
		<div class="colorCell" style="color:#000;background-color:#d9e0e9;">#d9e0e9</div>
		<div class="colorCell" style="color:#000;background-color:#6783a8;">#6783a8</div>
		

	</body>



</html>