<div class="row container-fluid">
	<div class="col-md-3">
	  <h2 class="no-space">{{ collections[primaryCollection].pluralLabel }}</h2>
	</div>
	<div class="col-md-5">
	  <span ng-include="'views/includes/alerts.html'"></span>
	</div>

	<!-- Delete button -->
	<div class="col-md-2 fade-in-out">
	  <button ng-if="showItems && itemStack.length == 0" ng-disabled="itemsLoading || selectedItems.length == 0" ng-click="deleteMultiple()" class="btn btn-danger btn-block" >Delete Selected</button>
	</div>

	<!-- Create new button -->
	<div class="col-md-2">
	  <button ng-if="itemStack.length == 0" ng-click="openNewItemForm()" class="btn btn-success btn-block">
	  	<span class="glyphicon glyphicon-plus"></span>
	  	<span> New {{ collections[primaryCollection].singleLabel }}</span>
	  </button>
	</div>
</div>