<div class="container singleItemOuterContainer" style="margin-top:25px;">
  
  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <h3 class="noSpace text-center">Forgot password</h3>
  </div>

  <form name="forgotForm" ng-model="credentials" ng-submit="forgot(credentials)" novalidate>
    <div class="container smallForm singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <!-- Email address -->
      <div class="row noSpaceMobile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="padding:5px;">
            <input name="emailAddress" ng-disabled="forgotSubmitting" class="form-control" type="email" placeholder="Email Address" ng-model="credentials.emailAddress" required>
            <span ng-if="forgotForm.emailAddress.$invalid && forgotForm.emailAddress.$touched" ng-init="initInvalidPopover('emailAddressRequired','We need to send you a reset link!')" id="emailAddressRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- Button -->
      <div class="row noSpaceMobile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="padding:5px;">
            <button ng-disabled="forgotSubmitting || forgotForm.$invalid" class="btn btn-primary btn-block">
              <span ng-if="!forgotSubmitting">Submit</span>
              <!-- Submitting indicator -->
              <span ng-if="forgotSubmitting" class="text-center">
                <span class="fa fa-refresh fa-spin"></span>
                <span> Submitting</span>
              </span>
            </button>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

    </div>
  </form>

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <a ng-href="/#/login">Try logging in again</a>
  </div>

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <span>Not registered? <a href="http://www.workwoo.com/#contact">Get started</a></span>
  </div>
  
</div>
