<div class="container">
  <form ng-model="credentials" ng-submit="login(credentials)" novalidate>
    <div class="container singleItemContainer" style="max-width:600px;">
  
      <!-- Title -->
      <div class="col-md-6">
        <div style="padding:5px;">
          <h4 class="text-left"><strong>WorkWoo Login</strong></h4>
        </div>
      </div>

      <!-- Sign up link -->
      <div class="col-md-6 text-right">
        <div style="padding:5px;">
          <h4 class="text-center">Not registered? <a href="#/signup">Get started <span class="fa fa-arrow-right"></span></a></h4>
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-12">
        <div style="padding:5px;">
          <input ng-disabled="loginSubmitting" class="form-control" type="text" name="user" placeholder="Email Address" ng-model="credentials.emailAddress">
        </div>
      </div>

      <!-- Password -->
      <div class="col-md-12">
        <div style="padding:5px;">
          <input ng-disabled="loginSubmitting" class="form-control" type="password" name="pass" placeholder="Password" ng-model="credentials.password" autocomplete="new-password">
        </div>
      </div>

      <!-- Button -->
      <div class="col-md-12">
        <div style="padding:5px;">
          <button type="submit" ng-disabled="loginSubmitting" class="btn btn-primary btn-block">
            <span ng-if="!loginSubmitting">Login</span>

            <!-- Submitting indicator -->
            <span ng-if="loginSubmitting" class="text-center">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
              <span id="loginSubmittingText">Logging in...</span>
            </span>
          </button>
        </div>
      </div>

      <!-- Forgot password link -->
      <div class="col-md-12 text-center">
        <div style="padding:5px;">
          <a ng-href="/#/forgot">Forgot your password?</a>
        </div>
      </div>

      <!-- Fail indicator -->
      <div class="col-md-12 text-center">
        <div style="padding:5px;">
          <div ng-if="loginFailed" class="errorText"><strong>Email Address or Password incorrect</strong></div>
        </div>
      </div>

    </div>
  </form>
</div>