<div ng-if="pageLoaded" class="container singleItemOuterContainer text-center noSpaceMobile" style="margin-top:100px;">

  <div class="container" style="max-width:400px;">
    <form name="loginForm" ng-model="credentials" ng-submit="login(credentials)" novalidate>

      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center" style="color:#fff;">Login</h2>
        </div>
      </div>

      <!-- Email Address -->
      <div class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <input ng-disabled="loginSubmitting" class="form-control defaultInput" type="email" name="emailAddress" placeholder="Email Address" ng-model="credentials.emailAddress" required>
            <span ng-if="loginForm.emailAddress.$touched && loginForm.emailAddress.$invalid" ng-init="initInvalidPopover('emailAddressRequired','Required')" id="emailAddressRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
            <span ng-if="loginForm.emailAddress.$valid" ng-init="destroyInvalidPopover('emailAddressRequired')"></span>
          </div>
        </div>
      </div>


      <!-- Password -->
      <div class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <input ng-disabled="loginSubmitting" class="form-control defaultInput" type="password" name="password" placeholder="Password" ng-model="credentials.password" required autocomplete="new-password">
            <span ng-if="loginForm.password.$invalid && loginForm.password.$touched" ng-init="initInvalidPopover('passwordRequired','Required')" id="passwordRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <button type="submit" ng-disabled="loginSubmitting" class="btn btn-success btn-block defaultButton" style="border-color:#67A88C;">
              <span ng-if="!loginSubmitting">Login</span>
              <!-- Submitting indicator -->
              <span ng-if="loginSubmitting" class="text-center">
                <span class="fa fa-refresh fa-spin"></span>
                <span id="loginSubmittingText"> Submitting</span>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- Fail indicator -->
      <div class="row">
        <div ng-if="loginFailed" class="col-md-12 text-center">
          <div style="padding:5px;">
            <div class="errorText"><strong>Email Address or Password incorrect</strong></div>
          </div>
        </div>
      </div>

      <!-- Forgot password link -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div style="padding:5px;">
            <a ng-href="/#/forgot">Forgot your password?</a>
          </div>
        </div>
      </div>

      <!-- Not registered link -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div style="padding:5px;">
            <span style="color:#fff;">Not registered? <a href="http://www.workwoo.com/#signup">Get started</a></span>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>