<div class="container singleItemOuterContainer text-center noSpaceMobile" style="margin-top:100px;">

  <div class="container" style="max-width:400px;">
    <form name="resetForm" ng-model="pwdResetInfo" ng-submit="reset(pwdResetInfo)" novalidate>

      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center" style="color:#fff;">Reset your password</h2>
        </div>
      </div>

      <!-- New password -->
      <div ng-if="!resetSubmitted" class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <input ng-disabled="resetSubmitting" class="form-control defaultInput" type="password" name="newPassword" placeholder="New Password" ng-model="pwdResetInfo.newPassword" autocomplete="new-password" required>
            <span ng-if="resetForm.newPassword.$invalid && resetForm.newPassword.$touched" ng-init="initInvalidPopover('newPasswordRequired','You must have a password!')" id="newPasswordRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
      </div>

      <!-- New password confirm -->
      <div ng-if="!resetSubmitted" class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <input ng-disabled="resetSubmitting" class="form-control defaultInput" type="password" name="newPasswordConfirm" placeholder="Confirm New Password" ng-model="pwdResetInfo.confirmPassword" autocomplete="new-password" required>
            <span ng-if="resetForm.newPasswordConfirm.$invalid && resetForm.newPasswordConfirm.$touched" ng-init="initInvalidPopover('newPasswordConfirmRequired','You must have a password!')" id="newPasswordConfirmRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
            <span ng-if="!passwordsMatch" ng-init="initInvalidPopover('newPasswordConfirmRequired','Passwords do not match')" id="newPasswordConfirmRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div ng-if="!resetSubmitted" class="row">
        <div class="col-md-12">
          <div class="inputContainer">
            <button ng-disabled="resetSubmitting || resetForm.$invalid" id="loginSubmitButton" class="btn btn-success defaultButton btn-block">
              <span ng-if="!resetSubmitting">Submit</span>
              <!-- Submitting indicator -->
              <span ng-if="resetSubmitting" class="text-center">
                <span class="fa fa-refresh fa-spin"></span>
                <span> Submitting</span>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- Success indicator -->
      <div ng-if="resetSubmitted" class="row text-center fadeInOut">
        <div class="col-md-12">
          <div class="inputContainer">
            <div>Your password has been reset</div>
          </div>
        </div>
      </div>

      <!-- Try again link -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div style="padding:5px;">
            <a ng-href="/#/login">Try logging in again</a>
          </div>
        </div>
      </div>
  
    </form>
  </div>

</div>