<div class="container singleItemOuterContainer noSpaceMobile" style="margin-top:25px;">

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <h3 class="noSpace text-center">Reset your password</h3>
  </div>

  <form name="resetForm" ng-model="pwdResetInfo" ng-submit="reset(pwdResetInfo)" novalidate>
    <div class="container smallForm singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <!-- New password -->
      <div class="row noSpaceMobile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="padding:5px;">
            <input ng-disabled="resetSubmitting" class="form-control" type="password" name="newPassword" placeholder="New Password" ng-model="pwdResetInfo.newPassword" autocomplete="new-password" required>
            <span ng-if="resetForm.newPassword.$invalid && resetForm.newPassword.$touched" ng-init="initInvalidPopover('newPasswordRequired','You must have a password!')" id="newPasswordRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- New password confirm -->
      <div class="row noSpaceMobile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="padding:5px;">
            <input ng-disabled="resetSubmitting" class="form-control" type="password" name="newPasswordConfirm" placeholder="Confirm New Password" ng-model="pwdResetInfo.confirmPassword" autocomplete="new-password" required>
            <span ng-if="resetForm.newPasswordConfirm.$invalid && resetForm.newPasswordConfirm.$touched" ng-init="initInvalidPopover('newPasswordConfirmRequired','You must have a password!')" id="newPasswordConfirmRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>
            <span ng-if="!passwordsMatch" ng-init="initInvalidPopover('newPasswordConfirmRequired','Passwords do not match')" id="newPasswordConfirmRequired" class="loginInputInvalid fa fa-exclamation-circle"></span>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- Submit button -->
      <div class="row noSpaceMobile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="padding:5px;">
            <button ng-disabled="resetSubmitting || resetForm.$invalid" id="loginSubmitButton" class="btn btn-primary btn-block">
              <span ng-if="!resetSubmitting">Submit</span>

              <!-- Submitting indicator -->
              <span ng-if="resetSubmitting" class="text-center">
                <span class="fa fa-refresh fa-spin"></span>
                <span> Submitting</span>
              </span>
            </button>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

    </div>
  </form>

  <div ng-if="!resetSubmitted" class="row text-center noSpaceMobile" style="padding:5px;">
    <a ng-disabled="resetSubmitting" ng-href="/#/login">Try logging in again</a>
  </div>

  <div ng-if="resetSubmitted" class="row text-center noSpaceMobile" style="padding:5px;">
    <p class="text-left">Your password has been reset</p>
    <a ng-disabled="resetSubmitting" ng-href="/#/login">Try logging in again</a>
  </div>

</div>