<div class="container singleItemOuterContainer" style="margin-top:25px;">

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <h3 class="noSpace text-center">Sign up for WorkWoo!</h4>
  </div>

  <form name="signupForm" ng-model="signupInfo" ng-submit="signup(signupInfo)" novalidate>
    <div class="container smallForm singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <!-- First & Last Name -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div style="padding:5px;">
            <input ng-disabled="signupSubmitting" class="form-control" type="text" name="firstName" placeholder="First Name" ng-model="signupInfo.firstName" required>
            <span ng-if="signupForm.firstName.$invalid && signupForm.firstName.$touched" ng-init="initInvalidPopover('firstNameRequired','Tell us who you are!')" id="firstNameRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-5">
          <div style="padding:5px;">
            <input ng-disabled="signupSubmitting" class="form-control" type="text" name="lastName" placeholder="Last Name" ng-model="signupInfo.lastName" required>
            <span ng-if="signupForm.lastName.$invalid && signupForm.lastName.$touched" ng-init="initInvalidPopover('lastNameRequired','Tell us who you are!')" id="lastNameRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Org Name -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="padding:5px;">
            <input ng-disabled="signupSubmitting" class="form-control" type="text" name="orgName" placeholder="Company Name" ng-model="signupInfo.orgName" required>
            <span ng-if="signupForm.orgName.$invalid && signupForm.orgName.$touched" ng-init="initInvalidPopover('orgNameRequired','We need to know your company')" id="orgNameRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Email -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="padding:5px;">
            <input ng-disabled="signupSubmitting" class="form-control" type="email" name="newEmailAddress" placeholder="Email Address" ng-model="signupInfo.newEmailAddress" required>
            <span ng-if="signupForm.newEmailAddress.$touched && signupForm.newEmailAddress.$invalid " ng-init="initInvalidPopover('newEmailAddressRequired','We need to send you stuff!')" id="newEmailAddressRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Email confirm -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="padding:5px;">
            <input ng-change="verifyEmailMatch()" ng-disabled="signupSubmitting" class="form-control" type="email" name="confirmEmailAddress" placeholder="Confirm Email Address" ng-model="signupInfo.confirmEmailAddress" required>
            <span ng-if="signupForm.confirmEmailAddress.$invalid && signupForm.confirmEmailAddress.$touched" ng-init="initInvalidPopover('confirmEmailAddressRequired','Required')" id="confirmEmailAddressRequired" class="inputInvalid fa fa-exclamation-circle"></span>
            <span ng-if="!emailsMatch" ng-init="initInvalidPopover('confirmEmailAddressRequired','Entries do not match')" id="confirmEmailAddressRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Password -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="padding:5px;">
            <input ng-disabled="signupSubmitting" class="form-control" type="password" name="newPassword" placeholder="New Password" ng-model="signupInfo.newPassword" autocomplete="new-password" required>
            <span ng-if="signupForm.newPassword.$invalid && signupForm.newPassword.$touched" ng-init="initInvalidPopover('newPasswordRequired','You will need to log in!')" id="newPasswordRequired" class="inputInvalid fa fa-exclamation-circle"></span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Button -->
      <div class="row noSpaceMobile">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="padding:5px;">
            <button ng-disabled="signupSubmitting" class="btn btn-primary btn-block">
              <span ng-if="!signupSubmitting">Sign Up</span>
              <!-- Submitting indicator -->
              <span ng-if="signupSubmitting" class="text-center">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span id="loginSubmittingText">Submitting</span>
              </span>
            </button>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <!-- Fail indicator -->
      <div class="row noSpaceMobile">
        <div class="col-md-12 text-center">
          <div style="padding:5px;">
            <div ng-if="signupFailed" class="errorText">Sign up failed</div>
          </div>
        </div>
      </div>

      <!-- Success indicator -->
      <div class="row noSpaceMobile">
        <div class="col-md-12 text-left">
          <div style="padding:5px;">
            <div ng-if="signupSubmitted" class="errorText">Almost there! A verification email has been sent to {{signupInfo.newEmailAddress}}. Follow the link in your verification email to finish the sign up process.</div>
          </div>
        </div>
      </div>

    </div>
  </form>

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <span>Already registered? <a href="#/login"> Login now</span></a></span>
  </div>

</div>
