@media only screen and (max-width : 992px) {

  /****************************** GLOBAL GENERIC THINGS ******************************/

  .pageHeading {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
  }

  .contentPage {
    position: absolute;
    padding: 0px 0px 75px 00px;
    top: 25px;
    left: 0px;
    right: 0px;
  }

  .breadCrumb {
    padding: 0px 10px 10px 10px;
    text-align: center;
  }

  .noSpaceMobile {
    margin: 0px;
    padding: 0px;
  }

  .smallContextLink {
    text-align: center;
    padding: 10px;
  }

  .hideInMobile {
    display: none;
  }

  .singleItemOuterContainer {
    padding: 0px;
    width: 100%;
  }

  .singleItemInnerContainer {
    width: 100%;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }

  /****************************** ITEM CARD BOARD ******************************/

  .cardTitleBreaker {
    display: none;
  }

  .itemCard {
    border-radius: 0px;
    background-color: #fcfcfc;
    border-top: 2px solid #e8e8e8;
    border-left: 2px solid #fcfcfc;
    border-right: 2px solid #fcfcfc;
    border-bottom: 2px solid #e8e8e8;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    height: 110px;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
  }

  .itemCardActive {
    height: auto;
    border-radius: 0px;
    border-top: 2px solid #c8e0d6;
    border-left: 2px solid #fcfcfc;
    border-right: 2px solid #fcfcfc;
    border-bottom: 2px solid #c8e0d6;
    background-color: #e9f2ee;
    padding: 5px;
    margin: 10px 0px 0px 0px;
  }

  .itemCardActiveTitle {
    position: relative;
    top: -10px;
    margin-left: 10px;
  }

  .menuCardTitle {
    position: relative;
    top: -10px;
    margin-left: 10px;
  }


  /****************************** LEFT MENU ******************************/


  .leftMenuContainer {
    background-color: #67A88C;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 5px;
    z-index: 100;
    text-align: center;
  }

  .leftMenuIcon {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #d9e9e2;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
  }

  .leftMenuIcon:hover {
    background-color: #87bba5;
  }

  .leftMenuIconActive {
    border-radius: 5px;
    color: #67A88C;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    cursor: default;
  }

  .leftMenuIconActiveTop {
    border-radius: 5px;
    color: #67A88C;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    cursor: default;
  }


  /****************************** SINGLE ITEM ******************************/


  .itemDisplayTitle {
    display: none;
  }

  .itemInfoUpdate {
    padding-top: 5px;
    text-align: center;
  }

  .itemInfoNumber {
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }


  /****************************** MENU CARDS ******************************/


  .menuCardContainer, .menuCardContainerActive, .menuCardContainerDisabled {
    padding: 10px 20px 10px 20px;
    margin: 5px;
    text-align: center;
    background-color: #fcfcfc;
    border: 1px dotted #d8d8d8;
    border-radius: 5px;
    display: block;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    text-align: left;
  }

  .menuCardContainerActive {
    background-color: #d9e9e2;
  }

  .menuCardTitleDisabled {
    position: relative;
    top: -10px;
    left: 5px;
  }



  /****************************** ALERTS ******************************/


  .alert {
    max-height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    position: relative;
    border-radius: 0px;
  }

  .upgradeAlertIcon {
    display:none;
  }

}