<div class="container singleItemOuterContainer noSpaceMobile" style="margin-top:25px;">

  <div class="row noSpaceMobile" style="padding:5px;">
    <h3 class="pageHeading noSpace">My Account</h3>
  </div>

  <div class="row noSpaceMobile" style="padding:5px;">
    <div class="breadCrumb">
      <a href="#/account/summary"><span class="fa fa-arrow-left"></span> Back to my account</a>
    </div>
  </div>

  <form name="helpSubmissionForm" ng-model="helpSubmission" ng-submit="submit(helpSubmission)" novalidate>
    <div class="container singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <div class="row text-center noSpaceMobile">
        <div class="col-md-12">
          <div style="margin:25px;">Your account information has been updated.</div>
        </div>
      </div>

      <div class="row text-center noSpaceMobile">
        <div class="col-md-12">
          <div style="margin:25px;"><a href="#/">Go to my work</a></div>
        </div>
      </div>

    </div>
  </form>
</div>
