<form name="accountSummaryForm" ng-model="accountSummary" ng-submit="submit(accountSummary)" novalidate>

	<!-- Page Header -->
	<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
	  <!-- Title -->
	  <div class="col-md-8 noSpaceMobile">
	    <h3 class="pageHeading">My Account</h3>
	    <div class="breadCrumb">
	      <a href="#/account"><span class="fa fa-arrow-left"></span> Back to all settings</a>
	    </div>
	  </div>
	</div>
	<!-- Page Header -->

	<!-- Page Content -->
	<div class="container singleItemOuterContainer noSpaceMobile">
    	<div class="container singleItemInnerContainer noSpaceMobile" style="padding:25px;">

			<!-- First name, last name, & Email Address -->
			<div class="row noSpaceMobile">
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="firstName">First name:</label>
						<input ng-disabled="accountLoading" type="text" id="firstName" name="firstName" class="form-control defaultInput" value="" ng-model="accountSummary.firstName" size="20" required/>
						<span ng-if="accountSummaryForm.firstName.$invalid && accountSummaryForm.firstName.$touched" ng-init="initInvalidPopover('firstNameRequired','Tell us who you are!')" id="firstNameRequired" class="fa fa-exclamation-circle inputInvalid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="lastName">Last name:</label>
						<input ng-disabled="accountLoading" type="text" id="lastName" name="lastName" class="form-control defaultInput" value="" ng-model="accountSummary.lastName" size="20" required/>
						<span ng-if="accountSummaryForm.lastName.$invalid && accountSummaryForm.lastName.$touched" ng-init="initInvalidPopover('lastNameRequired','Tell us who you are!')" id="lastNameRequired" class="fa fa-exclamation-circle inputInvalid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="emailAddress">Email Address:</label>
						<input ng-disabled="accountLoading" type="email" id="emailAddress" name="emailAddress" class="form-control defaultInput" value="" ng-model="accountSummary.emailAddress" size="20" required/>
						<span ng-if="accountSummaryForm.emailAddress.$invalid && accountSummaryForm.emailAddress.$touched" ng-init="initInvalidPopover('emailAddressRequired','We may need to contact you')" id="emailAddressRequired" class="fa fa-exclamation-circle inputInvalid"></span>
					</div>
				</div>
			</div>

			<!-- Company Name & Phone number -->
			<div class="row noSpaceMobile">
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="companyName">Company Name:</label>
						<input ng-disabled="accountLoading" type="text" id="companyName" name="companyName" class="form-control defaultInput" value="" ng-model="accountSummary.companyName" size="20" required/>
						<span ng-if="accountSummaryForm.companyName.$invalid && accountSummaryForm.companyName.$touched" ng-init="initInvalidPopover('companyNameRequired','Tell us about your business!')" id="companyNameRequired" class="fa fa-exclamation-circle inputInvalid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="phoneNumber">Phone Number:</label>
						<input ng-disabled="accountLoading" type="text" id="phoneNumber" name="phoneNumber" class="form-control defaultInput" value="" ng-model="accountSummary.phoneNumber" size="20" required/>
						<span ng-if="accountSummaryForm.phoneNumber.$invalid && accountSummaryForm.phoneNumber.$touched" ng-init="initInvalidPopover('phoneNumberRequired','We may need to contact you!')" id="phoneNumberRequired" class="fa fa-exclamation-circle inputInvalid"></span>
					</div>
				</div>
			</div>

			<!-- Buttons -->
			<div class="row noSpaceMobile">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					<div class="inputContainer">
		        		<button type="submit" ng-disabled="accountLoading || accountSummaryForm.$invalid" class="btn btn-primary btn-block" style="margin: 10px 0px 5px 0px">
		            		<span ng-if="accountLoading"><i class="fa fa-refresh fa-spin"></i> Saving</span>
		            		<span ng-if="!accountLoading">Save updated info</span>
		         		</button>
					</div>
				</div>
			</div>

		</div>

		<!-- Upgrade message -->
		<div class="container noSpace">
			<div class="col-sm-12 noSpace">
				<div class="upgradeAlert clearfix">
					<span class="upgradeAlertIcon"><i class="fa fa-trophy iconXL"></i></span>
					<span class="upgradeAlertText"><strong>Take your work to the next level!</strong><br/> With WorkWoo Pro, import and track items that relate to {{ collections[primaryCollection].pluralLabel }}, like documents, employees, or inventory</span>
					<span class="upgradeAlertButton">
						<a href="#/account/upgrade" class="btn btn-success">See the full benefits <i class="fa fa-arrow-right"></i></a>
					</span>
				</div>
			</div>
		</div>
		<!-- Upgrade message -->

	</div>
	<!-- Page Content -->

</form>

