<form name="accountSummaryForm" ng-model="accountInfo" ng-submit="submit()" novalidate>

	<!-- Page Header -->
	<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
	  <!-- Title -->
	  <div class="col-md-8 noSpaceMobile">
	  	<div class="breadCrumb">
	      <a href="#/account"><span class="fa fa-arrow-left"></span> All settings</a>
	    </div>
	  </div>
	</div>
	<!-- Page Header -->

	<!-- Page Content -->
	<div class="container-fluid singleItemOuterContainer noSpaceMobile">
    	<div class="container-fluid singleItemInnerContainer noSpace">

    		<!-- Personal Info -->
    		<div class="col-md-6">
    			<h3>Personal Info:</h3>

				<!-- First Name -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="firstName">First name:</label>
						<input ng-disabled="accountLoading" type="text" id="firstName" name="firstName" class="form-control defaultInput" value="" ng-model="accountInfo.user.firstName" size="20" required/>
					</div>
				</div>

				<!-- Last Name -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="lastName">Last name:</label>
						<input ng-disabled="accountLoading" type="text" id="lastName" name="lastName" class="form-control defaultInput" value="" ng-model="accountInfo.user.lastName" size="20" required/>
					</div>
				</div>

				<!-- Email Address -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="userEmail">Email Address:</label>
						<input ng-disabled="accountLoading" type="email" id="userEmail" name="userEmail" class="form-control defaultInput" value="" ng-model="accountInfo.user.emailAddress" size="20" required/>
					</div>
				</div>

				<!-- Phone Number -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="userPhone">Phone Number:</label>
						<input ng-disabled="accountLoading" type="text" id="userPhone" name="userPhone" class="form-control defaultInput" value="" ng-model="accountInfo.user.phone" size="20" ng-intl-tel-input required/>
					</div>
				</div>

				<!-- Password reset button -->
				<div class="col-md-12 text-center">
					<div class="inputContainer">
						<a href="#/changepassword">Change your password <span class="fa fa-arrow-right"></span></a>
					</div>
				</div>
    		</div>
    		<!-- End personal info -->


    		<!-- Company Info -->
    		<div class="col-md-6">
    			<h3>Your organization:</h3>

    			<!-- Company Name -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="orgName">Name:</label>
						<input ng-disabled="accountLoading" type="text" id="orgName" name="orgName" class="form-control defaultInput" value="" ng-model="accountInfo.org.name" size="20" required/>
					</div>
				</div>

				<!-- Company email address -->
				<div class="col-md-12">
					<div class="inputContainer">
						<label for="orgEmail">Email Address:</label>
						<input ng-disabled="accountLoading" type="email" id="orgEmail" name="orgEmail" class="form-control defaultInput" value="" ng-model="accountInfo.org.emailAddress" size="20" required/>
					</div>
				</div>

				<!-- Street Address -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="street">Street Address:</label>
						<input ng-disabled="accountLoading" type="text" id="street" name="street" class="form-control defaultInput" value="" ng-model="accountInfo.org.street" size="20" required/>
					</div>
				</div>

				<!-- City -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="city">City:</label>
						<input ng-disabled="accountLoading" type="text" id="city" name="city" class="form-control defaultInput" value="" ng-model="accountInfo.org.city" size="20" required/>
					</div>
				</div>

				<!-- State -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="state">State:</label>
						<input ng-disabled="accountLoading" type="text" id="state" name="state" class="form-control defaultInput" value="" ng-model="accountInfo.org.state" size="20" required/>
					</div>
				</div>

				<!-- Zip code -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="zip">Zip:</label>
						<input ng-disabled="accountLoading" type="text" id="zip" name="zip" class="form-control defaultInput" value="" ng-model="accountInfo.org.zip" size="20" required/>
					</div>
				</div>

				<!-- Country -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="country">Country:</label>
						<input ng-disabled="accountLoading" type="text" id="country" name="country" class="form-control defaultInput" value="" ng-model="accountInfo.org.country" size="20" required/>
					</div>
				</div>


				<!-- Phone Number -->
				<div class="col-md-6">
					<div class="inputContainer">
						<label for="orgPhone">Office Phone:</label>
						<input ng-disabled="accountLoading" type="text" id="orgPhone" name="orgPhone" class="form-control defaultInput" value="" ng-model="accountInfo.org.phone" size="20" ng-intl-tel-input required/>
					</div>
				</div>

    		</div>
    		<!-- End company info -->

    		<!-- Buttons -->
    		<div class="col-md-9"></div>
    		<div class="col-md-3">
    			<button style="margin:15px;" class="btn btn-primary btn-block" type="submit">Save</button>
    		</div>

		</div>

		<!-- Upgrade message -->
		<div class="container-fluid noSpace">
			<div class="col-md-12 noSpace">
				<div class="upgradeAlert clearfix">
					<span class="upgradeAlertIcon"><i class="fa fa-trophy iconXL"></i></span>
					<span class="upgradeAlertText"><strong>Take your work to the next level!</strong><br/> With WorkWoo Pro, import and track items that relate to {{ collections[primaryCollection].pluralLabel }}, like documents, employees, or inventory</span>
					<span class="upgradeAlertButton">
						<a href="#/account/upgrade" class="btn btn-success">See the full benefits <i class="fa fa-arrow-right"></i></a>
					</span>
				</div>
			</div>
		</div>
		<!-- Upgrade message -->

	</div>
	<!-- Page Content -->

</form>

