<div class="container-fluid">

  <!-- Page Header -->
  <div class="row">
    <div class="col-md-10">
      <h3 class="pageHeading">Settings</h3>
    </div>
  </div>
  <!-- Page Header -->

  <!-- Page Content -->
  <div class="row" style="padding-top:10px;padding-bottom:10px;">
    <div class="col-md-4 noSpaceMobile">
      <a href="#/account/summary" class="menuCardContainer">
        <span class="menuCardIcon fa fa-credit-card"></span><br/>
        <span class="menuCardTitle">Account & Billing</span>
      </a>
    </div>

    <div class="col-md-4 noSpaceMobile">
      <a href="#/account/users" class="menuCardContainer">
        <span class="menuCardIcon fa fa-users"></span><br/>
        <span class="menuCardTitle">Users</span>
      </a>
    </div>

    <div class="col-md-4 noSpaceMobile">
      <a href="#/account/collections" class="menuCardContainer">
        <span class="menuCardIcon fa fa-wrench"></span><br/>
        <span class="menuCardTitle">Work Settings</span>
      </a>
    </div>

  </div>
  <!-- Page Content -->

</div>