<!-- Page Header -->
<div class="container-fluid noSpaceMobile">
  <div class="col-md-12 noSpaceMobile">
    <h2 class="pageHeading">Settings</h2>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container-fluid noSpace text-center">

  <div class="col-md-4">
    <div id="accountSettings" class="itemCard" style="padding-top:15px;">
      <a href="#/account/summary">
        <div class="col-md-12">
          <span class="mainColor fa fa-credit-card fa-3x"></span>
          <span class="cardTitleBreaker"></br></span>
          <h4 class="noSpace">Account & Billing</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div id="accountSettings" class="itemCard" style="padding-top:15px;">
      <a href="#/account/users">
        <div class="col-md-12">
          <span class="mainColor fa fa-users fa-3x"></span>
          <span class="cardTitleBreaker"></br></span>
          <h4 class="noSpace">Users</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div id="accountSettings" class="itemCard" style="padding-top:15px;">
      <a ng-href="#/account/collections">
        <div class="col-md-12">
          <span class="mainColor fa fa-cogs fa-3x"></span>
          <span class="cardTitleBreaker"></br></span>
          <h4 class="noSpace">WorkWoo Settings</h4>
        </div>
      </a>
    </div>
  </div>

</div>
