<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
  <!-- Title -->
  <div class="col-md-8 noSpaceMobile">
    <h3 class="pageHeading">My Account</h3>
    <div class="breadCrumb">
      <a href="#/account/summary"><span class="fa fa-arrow-left"></span> Back to my account</a>
    </div>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container singleItemOuterContainer noSpaceMobile">
    <div class="container singleItemInnerContainer noSpaceMobile" style="padding:25px;font-size:18px;">
      <div class="row text-center noSpaceMobile">
        <div class="col-md-12">
          <div style="margin:25px;">Your account information has been updated.</div>
        </div>
      </div>

      <div class="row text-center noSpaceMobile">
        <div class="col-md-12">
          <div style="margin:25px;"><a href="#/">Go to my work</a></div>
        </div>
      </div>

    </div>
</div>
<!-- Page Content -->