<!-- Page Header -->
<div class="container-fluid noSpaceMobile">
  <!-- Title -->
  <div class="col-md-8 noSpaceMobile">
    <h3 class="pageHeading">Settings</h3>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container-fluid noSpace">

  <div class="col-md-4 noSpaceMobile">
    <a href="#/account/summary" class="menuCardContainer">
      <span class="menuCardIcon fa fa-credit-card"></span>
      <span class="cardTitleBreaker"></br></span>
      <span class="menuCardTitle">My Account</span>
    </a>
  </div>

  <div class="col-md-4 noSpaceMobile">
    <a href="#/account/users" class="menuCardContainer">
      <span class="menuCardIcon fa fa-users"></span>
      <span class="cardTitleBreaker"></br></span>
      <span class="menuCardTitle">Users</span>
    </a>
  </div>

  <div class="col-md-4 noSpaceMobile">
    <a id='workSettings' ng-href="#/account/collections/view/{{primaryCollection}}" class="menuCardContainer">
      <span class="menuCardIcon fa fa-wrench"></span>
      <span class="cardTitleBreaker"></br></span>
      <span class="menuCardTitle">Work Settings</span>
    </a>
  </div>

</div>
<!-- Page Content -->