<div class="container singleItemOuterContainer noSpaceMobile" style="margin-top:25px;">

  <div class="row text-center noSpaceMobile" style="padding:5px;">
    <h3 class="noSpace text-center">My Account</h3>
  </div>

  <div class="container mediumForm singleItemInnerContainer noSpaceMobile" style="padding:25px;">

    <div class="row text-center noSpaceMobile">
      <div class="col-md-12">
        <div style="margin:25px;">Your account has been updated.</div>
      </div>
    </div>

    <div class="row text-center noSpaceMobile">
      <div class="col-md-6">
        <div style="margin:25px;"><a href="#/account/summary">Back to account summary</a></div>
      </div>
      <div class="col-md-6">
        <div style="margin:25px;"><a href="#/">Go to my work</a></div>
      </div>
    </div>

  </div>

</div>
