<form name="changePasswordForm" ng-model="passwordInfo" ng-submit="changePassword()" novalidate>

	<!-- Page Content -->
	<div class="container-fluid singleItemOuterContainer noSpaceMobile" style="margin-top:25px;"s>
    	<div class="container-fluid noSpace">
			
			<!-- Title -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h3 class="text-center">
						<span class="fa fa-lock mainColor"></span>
						<span> Change your password</span>
					</h3>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- Current Password -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="currentPassword">Your current password:</label>
						<input ng-disabled="accountLoading" type="password" id="currentPassword" name="currentPassword" class="form-control defaultInput" value="" ng-model="passwordInfo.currentPassword" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- New Password -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="newPassword">New password:</label>
						<input ng-disabled="accountLoading" type="password" id="newPassword" name="newPassword" class="form-control defaultInput" value="" ng-model="passwordInfo.newPassword" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- New Password Confirm-->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="newPasswordConfirm">Confirm new password:</label>
						<input ng-disabled="accountLoading" type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control defaultInput" value="" ng-model="passwordInfo.newPasswordConfirm" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

    		<!-- Buttons -->
    		<div class="row noSpace">
	    		<div class="col-md-4"></div>
	    		<div class="col-md-4">
	    			<button style="margin: 10px 0px 20px 0px;" class="btn btn-success btn-block btn-lg" type="submit">Change Password</button>
	    		</div>
	    		<div class="col-md-4"></div>
    		</div>



		</div>
	</div>
	<!-- Page Content -->

</form>

