<form name="changePasswordForm" ng-model="passwordInfo" ng-submit="changePassword()" novalidate>

	<!-- Page Header -->
	<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
	  <!-- Title -->
	  <div class="col-md-8 noSpaceMobile">
	  	<div class="breadCrumb">
	      <a href="#/account/summary"><span class="fa fa-arrow-left"></span> My Account</a>
	    </div>
	  </div>
	</div>
	<!-- Page Header -->

	<!-- Page Content -->
	<div class="container-fluid singleItemOuterContainer noSpaceMobile">
    	<div class="container-fluid singleItemInnerContainer noSpace">
			
			<!-- Title -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h3>Change your password</h3>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- Current Password -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="currentPassword">Your current password:</label>
						<input ng-disabled="accountLoading" type="password" id="currentPassword" name="currentPassword" class="form-control defaultInput" value="" ng-model="passwordInfo.currentPassword" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- New Password -->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="newPassword">New password:</label>
						<input ng-disabled="accountLoading" type="password" id="newPassword" name="newPassword" class="form-control defaultInput" value="" ng-model="passwordInfo.newPassword" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

			<!-- New Password Confirm-->
			<div class="row noSpace">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="inputContainer">
						<label for="newPasswordConfirm">Confirm new password:</label>
						<input ng-disabled="accountLoading" type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control defaultInput" value="" ng-model="passwordInfo.newPasswordConfirm" size="20" required autocomplete="new-password"/>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>

    		<!-- Buttons -->
    		<div class="row noSpace">
	    		<div class="col-md-4"></div>
	    		<div class="col-md-4">
	    			<button style="margin: 10px 0px 20px 0px;" class="btn btn-primary btn-block" type="submit">Save</button>
	    		</div>
	    		<div class="col-md-4"></div>
    		</div>



		</div>
	</div>
	<!-- Page Content -->

</form>

