<form name="collectionForm" ng-model="selectedCollection" ng-submit="submit(selectedCollection)" novalidate>
	
	<!-- Tour -->
	<div ng-if="startWorkSettingsTour" id="workSettingsTour" ng-joy-ride="startWorkSettingsTour" config="workSettingsTourConfig" on-finish="finishWorkSettingsTour()" on-skip="skipWorkSettingsTour()"></div>

	<!-- Page Header -->
	<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
		<div class="col-md-6 breadCrumb noSpaceMobile">
		    <a href="#/account/collections"><span class="fa fa-arrow-left"></span> All item configurations</a>
		</div>
		<div class="col-md-6 breadCrumb noSpaceMobile text-right">
		    <a ng-href="#/{{selectedCollection.name}}">See all {{ selectedCollection.pluralLabel }} <span class="fa fa-arrow-right"></span></a>
		</div>

  		<!-- Title -->
  		<div class="col-md-6">
			<h3 class="pageHeading">
					<span data-toggle="modal" data-target="#iconSelector" class="fa fa-2x collectionIcon text-center" ng-class="selectedCollection.icon">
						<span class="fa fa-pencil-square editCollectionIcon"></span>
					</span>
					<span ng-if="currentAction == 'update'"> {{ selectedCollection.singleLabel }} Configuration</span><!-- Existing collections -->
					<span ng-if="currentAction == 'create'"> New Collection</span><!-- New collections -->
			</h3>
  		</div>
  		<!-- Title -->

  		<!-- Start tour link -->
		<div class="col-md-6 noSpace text-right">
			<span ng-disabled="collectionsLoading" ng-click="tiggerWorkSettingsTour()" class="spanLink" style="margin-right:20px;">
				<span class="fa fa-question-circle"></span>
				<span>Need help with this page?</span>
			</span>
		</div>
		<!-- Start tour link -->
	</div> 
	<!-- Page Header -->

	<!-- Page Content -->
	<div class="container-fluid singleItemOuterContainer noSpaceMobile">

    	<div class="container-fluid noSpaceMobile">

			<!-- Basic settings & state choices -->
			<div class="col-md-4">

				<!-- Collection name -->
				<div class="row noSpaceMobile">
					<div id='collectionNameContainer' class="defaultInputGroup form-group col-md-12">
						<label for="collectionName">Item name:</label>
						<input ng-disabled="collectionsLoading" placeholder="Orders, Instructions, Sales, etc." type="text" id="collectionName" name="collectionName" class="form-control defaultInput" value="" ng-model="selectedCollection.pluralLabel" size="20" required/>
						<span ng-if="collectionForm.collectionName.$invalid && collectionForm.collectionName.$touched" ng-init="initInvalidPopover('collectionNameRequired','Required!')" id="collectionNameRequired" class="fa fa-exclamation-circle collectionInputInvalid"></span>
					</div>
				</div>

				<!-- Number prefix -->
				<div class="row noSpaceMobile">
					<div id='numberPrefixContainer' class="defaultInputGroup form-group col-md-12">
						<label for="numberPrefix">Number prefix:</label>
						<input ng-disabled="collectionsLoading" placeholder="The prefix for each item's number, like 'IN1234'" type="text" id="numberPrefix" name="numberPrefix" class="form-control defaultInput" value="" ng-model="selectedCollection.numberPrefix" size="20" required/>
						<span ng-if="collectionForm.numberPrefix.$invalid && collectionForm.numberPrefix.$touched" ng-init="initInvalidPopover('numberPrefixRequired','Required!')" id="numberPrefixRequired" class="fa fa-exclamation-circle collectionInputInvalid"></span>
					</div>
				</div>

				<!-- State choices -->
				<div ng-if="selectedCollection.collectionType == 'workable'" class="row noSpaceMobile">
					<div id='stateContainer' class="defaultInputGroup form-group col-md-12">
						<label for="stateChoices">State Choices:</label>
						<div id="stateChoices" class="choiceOptionContainer clearfix" style="border: 1px solid #e5e5e5;">
							<!-- Create a row for each state -->
							<div ng-repeat="choice in selectedCollection.stateChoices track by $index" ng-if="!field.sysProvided" class="col-md-12 noSpace fadeInOutStagger">
		            			<div class="input-group" style="margin-bottom:3px;">
		            				<input ng-disabled="collectionsLoading" class="form-control defaultInput" ng-model="selectedCollection.stateChoices[$index]" style="border-right:none;" type="text" placeholder="New State">
		            				<span ng-click="removeState($index)" class="input-group-addon removeChoiceIcon" style="border-left:none;">
		            					<i class="fa fa-remove"></i>
		            				</span>
		            			</div>
							</div>
							<!-- Add state button -->
							<div class="col-md-12 noSpace">
								<button ng-disabled="collectionsLoading" type="button" ng-click="selectedCollection.stateChoices.push('')" class="btn btn-success btn-block">
		              				<span class="fa fa-plus"></span>
		              				<span> Add State</span>
		              			</button>
							</div>
						</div>
		            </div>
		        </div>
			</div>

			<!-- Custom fields -->
			<div id="customFieldsContainer" class="defaultInputGroup form-group col-md-8">
				
				<!-- System fields -->
	        	<div id="sysFields" class="itemInfo clearfix hideInMobile">
	        		<div class="col-md-12">
	        			<label><strong>{{ collectionTypes[selectedCollection.collectionType].label }} items have the following fields by default:</strong></label>
	        		</div>

	        		<div ng-repeat="(fieldIndex, field) in selectedCollection.fields" ng-if="field.sysProvided" class="col-md-4">
						{{ field.label }}
					</div>
				</div>


				<label>Custom fields:</label>
				<div class="choiceOptionContainer clearfix" style="border: 1px solid #e5e5e5;">
					
					<!-- Column header -->
					<div class="col-md-7 hideInMobile">
						<span class="customFieldColumnTitle">Field Name</span>
					</div>
					<div class="col-md-4 hideInMobile">
						<span class="customFieldColumnTitle">Type</span>
					</div>

					<!-- Loop through each field -->
					<div ng-repeat="(fieldIndex, field) in selectedCollection.fields" ng-if="!field.sysProvided" ng-attr-id="row_{{fieldIndex}}" class="col-md-12 noSpace customFieldRow swappableField">
					
						<!-- Field name -->
						<div class="col-md-7" style="margin-bottom:5px;">
							<div class="input-group">
								<span class="input-group-addon noSpace" style="border: 1px solid #e5e5e5;border-radius:0px;border-right:none;">
									<div><span ng-click="swapFieldPosition(fieldIndex, -1)" class="fieldOrderUp fa fa-chevron-up"></span></div>
									<div><span ng-click="swapFieldPosition(fieldIndex, 1)" class="fieldOrderDown fa fa-chevron-down"></span></div>
								</span>
								<input ng-disabled="collectionsLoading || field.sysProvided" type="text" ng-model="field.label" ng-change="field.name = lowerAndRemoveSpace(field.label)" ng-init="field.name = lowerAndRemoveSpace(field.label)" class="form-control defaultInput" size="20" placeholder='New Field'>
							</div>
						</div>
						<!-- Field type -->
						<div class="col-md-4" style="margin-bottom:5px;">
			              	
			              	<!-- If a custom field, allow different types -->
							<select ng-disabled="collectionsLoading || field.sysProvided" class="form-control defaultInput" ng-model="field.displayType">
								<option ng-repeat="fieldType in fieldTypes" value="{{ fieldType.displayType }}" ng-disabled="fieldType.isPro && accountType != 1" ng-selected="fieldType.displayType == field.displayType" >{{ fieldType.label }}</option>
			            	</select>
			            	
							<!--
							<ui-select ng-model="field.displayType" ng-click="bringFieldForward('row_' + fieldIndex)" theme="bootstrap" search-enabled="false">
						    	<ui-select-match placeholder="Select a field type">{{$select.selected.label}}</ui-select-match>
						    	<ui-select-choices repeat="fieldType.displayType as fieldType in fieldTypes | filter: {label: $select.search, displayType: $select.search}">
						      	<div ng-bind-html="fieldType.label | highlight: $select.search"></div>
						    	</ui-select-choices>
						  	</ui-select>
							-->


			            	<!-- If the field is a choice type, show the choices editor -->
			            	<!-- ng-init is to push the choices array as empty if it was not previously defined -->
			            	<span ng-if="field.displayType == 'choice'" ng-init="field.choices = (field.choices) ? field.choices : []" class="fade-in-out" ng-attr-id="{{fieldIndex}}_parent">
				            	<button ng-if="!field.sysProvided" ng-disabled="collectionsLoading" type="button" ng-click="toggleFieldChoices(fieldIndex + '_choices')" class="btn btn-success btn-block" style="margin-bottom:3px;">
				            		<i class="fa fa-bars"></i>
				            		<span> Edit choices</span>
				            	</button>
				            	
				            	<div ng-if="showChoices(fieldIndex + '_choices')" class="fadeExpandDown">
				            		<!-- No options -->
				            		<div ng-if="field.choices.length == 0" class="col-md-12 noSpace">
				            			<input disabled="true" class="form-control defaultInput" value="You haven't added any!" style="border-right:none;margin-bottom:2px;" type="text">
				            		</div>

				            		<!-- One row for each option -->
				            		<div ng-repeat="(choiceIndex, choice) in field.choices track by $index" class="col-md-12 noSpace fadeInOutStagger">
				            			<div class="input-group" style="margin-bottom:3px;">
				            				<input ng-disabled="collectionsLoading" class="form-control defaultInput" ng-model="field.choices[$index]" style="border-right:none;" type="text" placeholder="New Choice">
				            				<span ng-disabled="collectionsLoading" ng-click="removeOption(fieldIndex, choiceIndex)" class="input-group-addon removeChoiceIcon" style="border-left:none;">
				            					<i class="fa fa-remove"></i>
				            				</span>
				            			</div>
				            		</div>

				            		<div class="col-md-12 noSpace">
					              		<button ng-disabled="collectionsLoading || field.sysProvided" type="button" ng-click="field.choices.push('')" class="btn btn-success btn-block">
					              			<span class="fa fa-plus"></span>
					              			<span> Add choice</span>
					              		</button>
				              		</div>
				              	</div>
			              	</span>

			              	<!-- If the field is a item reference type, show the reference to field -->
			              	<span ng-if="field.displayType == 'itemReference' || field.displayType == 'itemReferenceList' " class="fade-in-out" ng-attr-id="{{fieldIndex}}_parent">
			              		<div class="col-md-12 noSpace">
									<ui-select ng-model="field.referenceTo" ng-click="bringFieldForward('row_' + fieldIndex)" theme="bootstrap">
										<ui-select-match placeholder="Select or search a item type"><small class="fa" ng-class="$select.selected.icon"></small> {{$select.selected.label}}</ui-select-match>
								    	<ui-select-choices group-by="'type'" repeat="col.name as col in collectionsArray | filter: { label: $select.search }">
											<small class="fa" ng-class="col.icon"></small>
						            		<span ng-bind-html="col.label | highlight: $select.search"></span>
								    	</ui-select-choices>
									</ui-select>
								</div>
			              	</span>

						</div>

						<!-- Remove field button -->
						<div ng-if="!field.sysProvided" class="col-md-1 text-right">
							<span ng-disabled="collectionsLoading" ng-click="removeField(fieldIndex)" class="hideInMobile customFieldRemoveIcon fa fa-remove"></span>
							<button ng-click="removeField(fieldIndex)" type="button" class="btn btn-default btn-block hideInDesktop">
								<span class="fa fa-remove" style="color:#a86c67;"></span>
								<span>Remove field</span>
							</button>
						</div>
					</div>
					<!-- End loop through each field -->

					<!-- Add new field button-->
					<div class="col-md-7"></div>
					<div class="col-md-5">
						<button type="button" ng-disabled="collectionsLoading" type="button" ng-click="addNewField()" class="btn btn-success btn-block">
							<span class="fa fa-plus"></span>
							<span> Add new field</span>
						</button>
					</div>	
				</div>
			</div>
			<!-- Custom fields -->


			<!-- Buttons -->
			<div class="col-md-12" style="margin-bottom:10px;">
				<!-- Spacer -->
				<div class="col-md-10"></div>

				<div class="col-md-2">
					<button id="saveChangesButton" ng-disabled="collectionsLoading" ng-if="currentAction == 'update'" type="submit" class="btn btn-primary btn-block">
						<!-- Loading -->
						<span ng-if="collectionsLoading && !selectedCollection">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Loading</span>
						</span>
						<!-- Not loading -->
						<span ng-if="!collectionsLoading">Save changes</span>
						<!-- Submitting -->
						<span ng-if="collectionsLoading && selectedCollection">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Saving</span>
						</span>
					</button>

					<button id="saveChangesButton" ng-disabled="collectionsLoading" ng-if="currentAction == 'create'" type="submit" class="btn btn-success btn-block">
						<!-- Not loading -->
						<span ng-if="!collectionsLoading">Submit</span>
						<!-- Submitting -->
						<span ng-if="collectionsLoading">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Saving</span>
						</span>
					</button>

				</div>
				<div class="col-md-12 text-right" style="margin-top:5px;">
					<span class="fa fa-info-circle"></span> <span><i>After submitting, your browser will reload in order for your changes to take effect</i></span>
				</div>

			</div>
    	</div>

		<!-- Upgrade indicator -->
		<div ng-if="accountType == '0'" class="col-md-12 noSpace">
			<div class="upgradeAlert clearfix">
				<span class="upgradeAlertIcon"><i class="fa fa-bolt iconXL"></i></span>
				<span class="upgradeAlertText"><strong>Supercharge your {{ selectedCollection.pluralLabel }}</strong><br/> With WorkWoo Pro, import and track items that relate to {{ selectedCollection.pluralLabel }}, like documents, employees, or inventory</span>
				<span class="upgradeAlertButton">
					<a href="#/account/upgrade" class="btn btn-success">See the full benefits <i class="fa fa-arrow-right"></i></a>
				</span>
			</div>
		</div>
		<!-- Upgrade indicator -->

    </div>
    <!-- Page content -->

	<!-- Modal icon selector -->
	<div id="iconSelector" class="modal fade" role="dialog" >
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content" style="border-radius:0px;">
	    	<button type="button" class="close" data-dismiss="modal"><span class="fa fa-close"></span></button>
	        <h4 class="text-center">Choose an icon for this type of item</h4>
	        <div class="text-center">
	        	<span ng-repeat="collectionIcon in collectionIcons">
	        		<span ng-if="collectionIcon != selectedCollection.icon" class="fa fa-2x collectionIconSelection" ng-click="setCollectionIcon(collectionIcon)" ng-class="collectionIcon"></span>
	        		<span ng-if="collectionIcon == selectedCollection.icon" class="fa fa-2x collectionIconSelectionActive" ng-class="collectionIcon"></span>
	        	</span>
	    	</div>
	    </div>
	</div>
	<!-- Modal icon selector -->

</form>
