<form name="collectionForm" ng-model="selectedCollection" ng-submit="submit(selectedCollection)" novalidate>
	
	<div ng-if="startWorkSettingsTour" id="workSettingsTour" ng-joy-ride="startWorkSettingsTour" config="workSettingsTourConfig" on-finish="finishWorkSettingsTour()" on-skip="skipWorkSettingsTour()"></div>

	<!-- Page Header -->
	<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
		
		<div class="col-md-12 breadCrumb noSpaceMobile">
		    <a href="#/account/collections"><span class="fa fa-arrow-left"></span> All Workable Items</a>
		</div>

  		<!-- Title -->
  		<div class="col-md-6">
			<h3 ng-if="currentAction == 'update'" class="pageHeading">{{ collections[primaryCollection].pluralLabel }}</h3>
			<h3 ng-if="currentAction == 'create'" class="pageHeading">New Workable Item</h3>
  		</div>

		<div class="col-md-6 noSpace text-right">
			<span ng-disabled="collectionsLoading" ng-click="tiggerWorkSettingsTour()" class="btn btn-success hideInMobile" style="margin-right:20px;">
				<span class="fa fa-road"></span>
				<span> Guide me!</span>
			</span>
		</div>
	</div> 
	<!-- Page Header -->

	<!-- Page Content -->
	<div class="container-fluid singleItemOuterContainer noSpaceMobile">

    	<div class="container-fluid singleItemInnerContainer noSpaceMobile" style="padding:25px;">

			<!-- Basic settings & state choices -->
			<div class="col-md-4">

				<!-- Collection name -->
				<div class="row noSpaceMobile">
					<div id='collectionNameContainer' class="defaultInputGroup form-group col-md-12">
						<label for="collectionName">Your items:</label>
						<input ng-disabled="collectionsLoading" placeholder="Orders, Instructions, Sales, etc." type="text" id="collectionName" name="collectionName" class="form-control defaultInput" value="" ng-model="selectedCollection.pluralLabel" size="20" required/>
						<span ng-if="collectionForm.collectionName.$invalid && collectionForm.collectionName.$touched" ng-init="initInvalidPopover('collectionNameRequired','Required!')" id="collectionNameRequired" class="fa fa-exclamation-circle collectionInputInvalid"></span>
					</div>
				</div>

				<!-- Number prefix -->
				<div class="row noSpaceMobile">
					<div id='numberPrefixContainer' class="defaultInputGroup form-group col-md-12">
						<label for="numberPrefix">Number prefix:</label>
						<input ng-disabled="collectionsLoading" placeholder="The prefix for each item's number, like 'IN1234'" type="text" id="numberPrefix" name="numberPrefix" class="form-control defaultInput" value="" ng-model="selectedCollection.numberPrefix" size="20" required/>
						<span ng-if="collectionForm.numberPrefix.$invalid && collectionForm.numberPrefix.$touched" ng-init="initInvalidPopover('numberPrefixRequired','Required!')" id="numberPrefixRequired" class="fa fa-exclamation-circle collectionInputInvalid"></span>
					</div>
				</div>

				<!-- State choices -->
				<div class="row noSpaceMobile">
					<div id='stateContainer' class="defaultInputGroup form-group col-md-12">
						<label for="stateChoices">State Choices:</label>
						<div id="stateChoices" class="choiceOptionContainer clearfix" style="border: 1px solid #e5e5e5;">
							<!-- Create a row for each state -->
							<div ng-repeat="choice in selectedCollection.stateChoices track by $index" ng-if="!field.sysProvided" class="col-md-12 noSpace fadeInOutStagger">
		            			<div class="input-group" style="margin-bottom:3px;">
		            				<input ng-disabled="collectionsLoading" class="form-control defaultInput" ng-model="selectedCollection.stateChoices[$index]" style="border-right:none;" type="text">
		            				<span ng-click="removeState($index)" class="input-group-addon removeChoiceIcon" style="border-left:none;">
		            					<i class="fa fa-remove"></i>
		            				</span>
		            			</div>
							</div>
							<!-- Add state button -->
							<div class="col-md-12 noSpace">
								<button ng-disabled="collectionsLoading" type="button" ng-click="selectedCollection.stateChoices.push('- New state -')" class="btn btn-success btn-block">
		              				<span class="fa fa-plus"></span>
		              				<span> Add State</span>
		              			</button>
							</div>
						</div>
		            </div>
		        </div>
			</div>

			<!-- Custom fields -->
			<div id="customFieldsContainer" class="defaultInputGroup form-group col-md-8">
				<!-- System fields -->
	        	<div id="sysFields" class="itemInfo choiceOptionContainer clearfix" style="border: 1px solid #e5e5e5;">
	        		<label>Workable Items have the following system fields:</label>
	        		<div class="col-md-12">
	        		<div class="col-md-4 hideInMobile">
						<div>Auto-number</div>
						<div>State</div>
					</div>
					<div class="col-md-4 hideInMobile">
						<div>Create User</div>	
						<div>Update User</div>
					</div>
					<div class="col-md-4 hideInMobile">
						<div>Created Timestamp</div>
						<div>Updated Timestamp</div>	
					</div>
				</div>
	        	</div> 

				<label>Custom fields:</label>
				<div class="choiceOptionContainer clearfix" style="border: 1px solid #e5e5e5;">
					<!-- Column header -->
					<div class="col-md-7 hideInMobile">
						<span class="customFieldColumnTitle">Field Name</span>
					</div>
					<div class="col-md-4 hideInMobile">
						<span class="customFieldColumnTitle">Type</span>
					</div>

					<!-- Loop through each field -->
					<div ng-repeat="(fieldIndex, field) in selectedCollection.fields" ng-if="!field.sysProvided" class="col-md-12 noSpace customFieldRow fadeInOutStagger">
						<!-- Field name -->
						<div class="col-md-7" style="margin-bottom:5px;">
							<input ng-disabled="collectionsLoading || field.sysProvided" type="text" ng-model="field.label" ng-change="field.name = lowerAndRemoveSpace(field.label)" ng-init="field.name = lowerAndRemoveSpace(field.label)" class="form-control defaultInput" size="20">
						</div>
						<!-- Field type -->
						<div class="col-md-4" style="margin-bottom:5px;">
			              	
			              	<!-- If a custom field, allow different types -->
							<select ng-disabled="collectionsLoading || field.sysProvided" class="form-control defaultInput" ng-model="field.displayType">
								<option ng-repeat="fieldType in fieldTypes" value="{{ fieldType.displayType }}" ng-disabled="fieldType.isPro" ng-selected="fieldType.displayType == field.displayType" >{{ fieldType.label }}</option>
			            	</select>

			            	<!-- If the field is a choice type, show the choices editor -->
			            	<span ng-if="field.displayType == 'choice'" class="fade-in-out" ng-attr-id="{{fieldIndex}}_parent">
				            	<button ng-if="!field.sysProvided" ng-disabled="collectionsLoading" type="button" ng-click="toggleFieldChoices(fieldIndex + '_choices')" class="btn btn-success btn-block" style="margin-bottom:3px;">
				            		<i class="fa fa-bars"></i>
				            		<span> Edit choices</span>
				            	</button>
				            	
				            	<div ng-if="showChoices(fieldIndex + '_choices')" class="fadeExpandDown">
				            		<!-- No options -->
				            		<div ng-if="field.choices.length == 0" class="col-md-12 noSpace">
				            			<input disabled="true" class="form-control defaultInput" value="You haven't added any!" style="border-right:none;margin-bottom:2px;" type="text">
				            		</div>

				            		<!-- One row for each option -->
				            		<div ng-repeat="(choiceIndex, choice) in field.choices track by $index" class="col-md-12 noSpace fadeInOutStagger">
				            			<div class="input-group" style="margin-bottom:3px;">
				            				<input ng-disabled="collectionsLoading" class="form-control defaultInput" ng-model="field.choices[$index]" style="border-right:none;" type="text" placeholder="New Choice">
				            				<span ng-disabled="collectionsLoading" ng-click="removeOption(fieldIndex, choiceIndex)" class="input-group-addon removeChoiceIcon" style="border-left:none;">
				            					<i class="fa fa-remove"></i>
				            				</span>
				            			</div>
				            		</div>

				            		<div class="col-md-12 noSpace">
					              		<button ng-disabled="collectionsLoading || field.sysProvided" type="button" ng-click="field.choices.push('')" class="btn btn-success btn-block">
					              			<span class="fa fa-plus"></span>
					              			<span> Add choice</span>
					              		</button>
				              		</div>
				              	</div>
			              	</span>
						</div>

						<!-- Remove field button -->
						<div ng-if="!field.sysProvided" class="col-md-1 text-right">
							<span ng-disabled="collectionsLoading" ng-click="removeField(fieldIndex)" class="hideInMobile customFieldRemoveIcon fa fa-remove"></span>
							<button ng-click="removeField(fieldIndex)" type="button" class="btn btn-default btn-block hideInDesktop">
								<span class="fa fa-remove" style="color:#a86c67;"></span>
								<span>Remove field</span>
							</button>
						</div>
					</div>
					<!-- End loop through each field -->

					<!-- Add new field button-->
					<div class="col-md-5 pull-right noSpace">
						<button type="button" ng-disabled="collectionsLoading" type="button" ng-click="addNewField()" class="btn btn-success btn-block">
							<span class="fa fa-plus"></span>
							<span> Add new field</span>
						</button>
					</div>	
				</div>
			</div>
			<!-- Custom fields -->


			<!-- Buttons -->
			<div class="col-md-12" style="margin-bottom:10px;">
				<!-- Spacer -->
				<div class="col-md-10"></div>

				<div class="col-md-2">
					<button id="saveChangesButton" ng-disabled="collectionsLoading" ng-if="currentAction == 'update'" type="submit" class="btn btn-primary btn-block">
						<!-- Loading -->
						<span ng-if="collectionsLoading && !selectedCollection">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Loading</span>
						</span>
						<!-- Not loading -->
						<span ng-if="!collectionsLoading">Save changes</span>
						<!-- Submitting -->
						<span ng-if="collectionsLoading && selectedCollection">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Saving</span>
						</span>
					</button>

					<button id="saveChangesButton" ng-disabled="collectionsLoading" ng-if="currentAction == 'create'" type="submit" class="btn btn-primary btn-block">
						<!-- Not loading -->
						<span ng-if="!collectionsLoading">Submit</span>
						<!-- Submitting -->
						<span ng-if="collectionsLoading">
							<i class="fa fa-refresh fa-spin"></i>
							<span> Saving</span>
						</span>
					</button>

				</div>

			</div>

    	</div>

		<!-- Upgrade indicator -->
		<div class="col-md-12 noSpace">
			<div class="upgradeAlert clearfix">
				<span class="upgradeAlertIcon"><i class="fa fa-bolt iconXL"></i></span>
				<span class="upgradeAlertText"><strong>Supercharge your {{ collections[primaryCollection].pluralLabel }}</strong><br/> With WorkWoo Pro, import and track items that relate to {{ collections[primaryCollection].pluralLabel }}, like documents, employees, or inventory</span>
				<span class="upgradeAlertButton">
					<a href="#/account/upgrade" class="btn btn-success">See the full benefits <i class="fa fa-arrow-right"></i></a>
				</span>
			</div>
		</div>
		<!-- Upgrade indicator -->

    </div>
</form>

