<!-- Page Header -->
<div class="row container-fluid">
  <div class="col-md-12">
  	<h3 class="page-heading">Work Settings</h3>
  	<a href="#/account"><span class="fa fa-arrow-left"></span> Account home</a>
  </div>
</div>
<!-- Page Header -->

<!-- Message if they have not setup their primary collection -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center" style="margin-top:50px;">
  <div class="col-md-12">
    <h2 class="pageHeading">You haven't set up your work items!</h2>
    <a class="btn btn-success" href="#/account/collections/new"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div ng-if="!collectionsLoading" class="container-fluid fade-in-out">
	<!-- Create a box for each collection -->
	<div ng-repeat="collection in loadedCollections" class="col-md-3 text-center">
		<div class="large-context-button" ng-click="openEditCollection(collection)">
			<span class="fa" ng-class="collections[primaryCollection].icon"></span>
			<h4 class="large-context-button-title">{{collection.pluralLabel}}</h4>
		</div>
	</div>
</div>

<!-- Loading indicator -->
<div ng-if="collectionsLoading" class="fade-in-out text-center">
  <span class="refresh-xl"><span style="margin-top: 100px;" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading collections</span>
</div>
<!-- Page Content -->