<!-- Page Header -->
<div class="container-fluid noSpaceMobile">
  <div class="col-md-12 noSpaceMobile">
    <h2 class="pageHeading">WorkWoo Settings</h2>
  </div>
</div>
<!-- Page Header -->

<!-- Page header if they have not setup anything -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center" style="margin-top:50px;">
  <div class="col-md-12">
    <h2 class="pageHeading">You haven't set up your business yet</h2>
    <a class="btn btn-success" href="#/account/collections/getstarted"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<div ng-if="currentUser.org.primaryCollection" class="container-fluid">
  <!-- WORKABLE -->
  <div class="col-md-3">
    <div class="col-md-12">
      <h3 class="text-center">Workable</h3>
    </div>
      
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && workableCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <span class="menuCardContainerDisabled fadeInOut">
        <span class="menuCardTitleDisabled">None created yet!</span>
      </span>
    </div>

    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in workableCollections" class="col-md-12 text-center fadeInOutStagger">
      <div id="accountSettings" class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!-- INVENTORIAL -->
  <div class="col-md-3">
    <div class="col-md-12">
      <h3 class="text-center">Inventorial</h3>
    </div>
      
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && inventorialCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <span class="menuCardContainerDisabled fadeInOut">
        <span class="menuCardTitleDisabled">None created yet!</span>
      </span>
    </div>

    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in inventorialCollections" class="col-md-12 text-center fadeInOutStagger">
      <div id="accountSettings" class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>

  </div>

<!-- BUNDLE -->
  <div class="col-md-3">
    <div class="col-md-12">
      <h3 class="text-center">Bundles</h3>
    </div>
      
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && inventorialBundleCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <span class="menuCardContainerDisabled fadeInOut">
        <span class="menuCardTitleDisabled">None created yet!</span>
      </span>
    </div>

    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in inventorialBundleCollections" class="col-md-12 text-center fadeInOutStagger">
      <div id="accountSettings" class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- BASIC -->
  <div class="col-md-3">
    <div class="col-md-12">
      <h3 class="text-center">Basic</h3>
    </div>
      
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && basicCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <span class="menuCardContainerDisabled fadeInOut">
        <span class="menuCardTitleDisabled">None created yet!</span>
      </span>
    </div>

    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in basicCollections" class="col-md-12 text-center fadeInOutStagger">
      <div id="accountSettings" class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<!-- Footer (with controls) -->
<div class="controlFooter">
  <div class="container-fluid">
    <!-- Alerts -->
    <div class="col-md-9 text-center">
      <span ng-include="'views/includes/alerts.html'"></span>
    </div>
    <!-- Save/Create Buttons -->
    <div class="col-md-3" style="padding:7px;">
      <a class="btn btn-success btn-block btn-lg" href="#/account/collections/selecttype">Create New Collection <span class="fa fa-arrow-right"></span></a>
    </div>
  </div>
</div>
