<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:25px;">
  <div class="col-md-12 noSpaceMobile">
    <h2 class="noSpace pageHeading">WorkWoo Settings</h2>
  </div>
</div>
<!-- Page Header -->

<!-- Page header if they have not setup anything -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center" style="margin-top:50px;">
  <div class="col-md-12">
    <h2 class="pageHeading">You haven't set up your business yet</h2>
    <a class="btn btn-success" href="#/account/collections/getstarted"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<div ng-if="currentUser.org.primaryCollection" class="container-fluid">
  
  <!-- WORKABLE -->
  <div class="col-md-4">
    <div class="col-md-12">
      <h3 class="text-center">Workable</h3>
    </div>
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && workableCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <div class="itemCardInactive" style="padding-top:25px;margin-bottom:5px;">
        <h4 style="color:#d8d8d8;">None created yet!</h4>
      </div>
    </div>
    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in workableCollections" ng-if="!collection.sysProvided || canEditSys()" class="col-md-12 text-center fadeInOutStagger">
      <div class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- INVENTORY -->
  <div class="col-md-4">
    <div class="col-md-12">
      <h3 class="text-center">Inventory</h3>
    </div>
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && inventoryCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <div class="itemCardInactive" style="padding-top:25px;margin-bottom:5px;">
        <h4 style="color:#d8d8d8;">None created yet!</h4>
      </div>
    </div>
    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in inventoryCollections" ng-if="!collection.sysProvided || canEditSys()" class="col-md-12 text-center fadeInOut">
      <div class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- BASIC -->
  <div class="col-md-4">
    <div class="col-md-12">
      <h3 class="text-center">Other</h3>
    </div>
    <!--  If there are none -->
    <div ng-if="!collectionsLoading && basicCollections.length == 0" class="col-md-12 text-center fadeInOut">
      <div class="itemCardInactive" style="padding-top:25px;margin-bottom:5px;">
        <h4 style="color:#d8d8d8;">None created yet!</h4>
      </div>
    </div>
    <!-- Each collection -->
    <div ng-repeat="(collectionIndex, collection) in basicCollections" ng-if="!collection.sysProvided || canEditSys()" class="col-md-12 text-center fadeInOutStagger">
      <div class="itemCard" style="padding-top:15px;margin-bottom:5px;">
        <a ng-attr-id="{{collectionIndex}}_workSettings" ng-href="#/account/collections/view/{{collection.name}}">
          <div class="col-md-12">
            <span class="mainColor fa fa-3x" ng-class="collection.icon"></span>
            <span class="cardTitleBreaker"></br></span>
            <h4 class="noSpace">{{ collection.pluralLabel }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer (with controls) -->
<div class="controlFooter">
  <div class="container-fluid">
    <!-- Alerts -->
    <div class="col-md-9 text-center">
      <span ng-include="'views/includes/alerts.html'"></span>
    </div>
    <!-- Save/Create Buttons -->
    <div class="col-md-3" style="padding:7px;">
      <a class="btn btn-success btn-block btn-lg" href="#/account/collections/selecttype">Create New Collection <span class="fa fa-arrow-right"></span></a>
    </div>
  </div>
</div>
