<div class="container-fluid" style="margin-top:25px;">
  <div ng-repeat="collection in inventoryCollections" ng-if="!collection.sysProvided || canEditSys()" ng-init="columnClass = (inventoryCollections.length == 2) ? 'col-md-12' : 'col-md-12'" ng-class="columnClass">
    <div class="collectionReport">

      <!-- Collection icon & title -->
      <div class="row noSpace">
        <div class="col-md-6 centerInMobile">
          <h2>
            <span class="mainColor fa" ng-class="collection.icon"></span>
            <a ng-href="#/{{collection.name}}"><span> {{ collection.pluralLabel }}</span></a>
            <span class="badge badgeDark">{{ collectionCounts[collection.name].totalItems }}</span>
          </h2>
        </div>
        <div class="col-md-6 centerInMobile">
          <a ng-if="canEditCollections()" ng-href="#/account/collections/view/{{collection.name}}" class="collectionStatusSettingsIcon hideInMobile pull-right fa fa-cog"></a>
          <a style="margin-top:10px;" ng-href="#/{{collection.name}}/new" type="button" class="btn btn-success btn-lg pull-right blockInMobile"><span class="fa fa-plus"></span> New {{ collection.singleLabel }} </a>
        </div>
      </div>

      <!-- Breakdown by each field -->
      <div class="row noSpace">
        <div ng-repeat="field in collection.fields" ng-if="field.displayType == 'currency' || field.displayType == 'choice' || field.displayType == 'state'" class="col-md-6">

          <!-- Dropdown choices field -->
          <div ng-if="field.displayType == 'choice' || field.displayType == 'state'">
            <h3 class="mainColor centerInMobile">By {{ field.label }}:</h3>

            <div ng-repeat="choice in field.choices" style="padding:0px;">
              <a style="font-size:20px;text-align:left;padding-left:50px;" ng-href="#/{{collection.name}}/search?{{field.name}}={{choice}}">
                <span class="badge badgeLight">
                  <span ng-if="!countsCompleted" class="fa fa-refresh spinCustom fadeInOut"></span>
                  <span ng-if="countsCompleted" class="fadeInOut">{{ collectionCounts[collection.name][field.name][choice] }}</span>
                </span>
                <span><strong>{{ choice }}</strong></span>
              </a>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>