<!-- Page header if they have not setup their primary collection -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center" style="margin-top:50px;">
  <div class="col-md-12">
    <h2 class="pageHeading">Aww snap! You haven't set up your work items!</h2>
    <a class="btn btn-success wiggle" href="#/account/collections/new"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<!-- Page Header -->
<div ng-if="currentUser.org.primaryCollection" class="container-fluid noSpaceMobile" style="margin-top:10px;">
  <!-- Title -->
  <div class="col-md-12 noSpaceMobile">
    <h3 class="pageHeading">{{ collections[primaryCollection].pluralLabel }}</h3>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div ng-if="currentUser.org.primaryCollection" class="container singleItemOuterContainer noSpaceMobile">
  <div class="container noSpaceMobile" style="padding:25px;">

    <!-- Create new button -->
    <div class="row noSpace">
      <div class="col-md-12 noSpaceMobile">
        <a ng-href="#/{{primaryCollection}}/new" class="workHomeStateContainer workHomeStateContainerActive">
          <span class="workHomeStateIcon noSpace">
            <span class="fa fa-plus"></span>
          </span>
          <span class="workHomeStateTitle">Create New</span>
        </a>
      </div>
    </div>

    <!-- 1 card for each possible state -->
    <div ng-repeat="state in collections[primaryCollection].stateChoices" class="row noSpace">
      <div  class="col-md-12 noSpaceMobile">
        <a ng-href="#/{{primaryCollection}}/search?state={{state}}" class="workHomeStateContainer">
            <span ng-if="itemsLoading" class="workHomeStateIcon noSpace">
              <span class="fa fa-refresh fa-spin"></span>
            </span>
            <span ng-if="!itemsLoading" class="workHomeStateIcon fadeInOut">{{itemCountByState[state]}}</span>
            <span class="workHomeStateTitle">{{ state }}</span>
        </a>
      </div>
    </div>

    <div class="col-md-12 text-center" style="padding:10px 0px 0px 0px;">
      <a ng-href="#/{{primaryCollection}}"> See all {{ collections[primaryCollection].pluralLabel }} <span class="fa fa-arrow-right"></span></a>
    </div>

  </div>
</div>
<!-- Page Content -->