<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
  <!-- Title -->
  <div class="col-md-8 noSpaceMobile">
    <div class="breadCrumb">
      <a href="#/"><span class="fa fa-arrow-left"></span> Back to summary</a>
    </div>
    <h3 class="pageHeading">
      <span class="mainColor fa" ng-class="collections[baseCollection].icon"></span>
      <span> {{ collections[baseCollection].pluralLabel }}</span>
    </h3>

  </div>
  <!-- Search -->
  <div class="col-md-4 text-right noSpaceMobile">
    <form ng-submit="search(searchTerm)" class="input-group">
      <input type="text" class="form-control defaultInput" value="" ng-model="searchTerm" size="20"/>
      <span ng-disabled="itemsLoading" ng-click="search(searchTerm)" class="input-group-addon searchIcon"><i class="fa fa-search"></i></span>
    </form>

    <!-- New button -->
    <a style="margin-top:5px;" ng-disabled="itemsLoading" class="btn btn-success" ng-href="#/{{baseCollection}}/new">New {{ collections[baseCollection].singleLabel }}</a>

  </div>
</div>
<!-- Page Header -->

<!-- Content -->
<div class="container-fluid noSpace">

  <div class="col-md-12 text-center noSpaceMobile" style="margin-bottom:10px;">
    <span ng-include="'views/includes/alerts.html'"></span>
  </div>

  <!-- Message if they have not setup their primary collection -->
  <div ng-if="!itemsLoading && loadedItems.length == 0" class="container-fluid text-center fadeInOut" style="margin-top:50px;">
    <div class="col-md-12">
      <h2 class="pageHeading">No {{ collections[baseCollection].pluralLabel }} to show!</h2>
      <a class="btn btn-success" ng-href="#/{{baseCollection}}/new"><h3 class="noSpace">Create one now</h3></a>
    </div>
  </div>
  <!-- Page Header -->

    <!-- Loading indicator -->
  <div ng-if="itemsLoading" class="col-md-12 fadeInOut largeLoadingIndicator text-center">
    <span class="fa fa-refresh fa-spin"></span>
    <span>Loading {{ collections[baseCollection].pluralLabel }}</span>
  </div>

  <!-- Create a card for each item -->
  <div ng-repeat="item in loadedItems" class="col-md-4 noSpaceMobile fadeInOutStagger">
    <div class="itemCard">
      <a class="noUnderline" ng-href="#/{{baseCollection}}/view/{{item.number}}">
        <div class="col-md-12 clearfix">
          <span class="pull-left text-left itemCardTitle">{{ item.number }}</span>
          <span class="pull-right text-right">
            <div class="itemCardState">{{ item.state }}</div>
          </span>
        </div>
        <div class="col-md-12">
          <span class="itemCardUpdateInfo">Updated: {{ formattedDateTime(item.updated_at) }} By: {{ item._updated_by.firstName }}</span>
        </div>
        <div class="col-md-12">
          <div class="ellipsis">
            <div class="itemCardContent">
              {{ item[collections[baseCollection].displayField] }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


</div>
