<!-- Page header if they have not setup their primary collection -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center" style="margin-top:50px;">
  <div class="col-md-12">
    <h2 class="pageHeading">Aww snap! You haven't set up your work items!</h2>
    <a class="btn btn-success wiggle" href="#/account/collections/new"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<!-- Page Header -->
<div ng-if="currentUser.org.primaryCollection" class="container-fluid noSpaceMobile" style="margin-top:10px;">
  <div class="col-md-12 noSpaceMobile">
    <h3 class="pageHeading">{{ collections[primaryCollection].pluralLabel }}</h3>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div ng-if="currentUser.org.primaryCollection" class="container-fluid noSpace">
  <div class="col-md-3 noSpaceMobile">
    <a ng-href="#/{{primaryCollection}}/new" class="menuCardContainerActive">
      <span class="menuCardIcon noSpace">
        <span class="fa fa-plus"></span>
      </span>
      <span class="cardTitleBreaker"></br></span>
      <span class="menuCardTitle">Create New</span>
    </a>
  </div>
  
  <div ng-repeat="state in collections[primaryCollection].stateChoices" class="col-md-3 noSpaceMobile">
    <a ng-href="#/{{primaryCollection}}/search?state={{state}}" class="menuCardContainer">
        <span ng-if="itemsLoading" class="menuCardIcon noSpace">
          <span class="fa fa-refresh fa-spin"></span>
        </span>
        <span ng-if="!itemsLoading" class="menuCardIcon fadeInOut">{{itemCountByState[state]}}</span>
        <span class="cardTitleBreaker"></br></span>
        <span class="menuCardTitle">{{ state }}</span>
    </a>
  </div>

  <div class="col-md-12">
    <div class="smallContextLink">
      <a ng-href="#/{{primaryCollection}}"> See all {{ collections[primaryCollection].pluralLabel }} <span class="fa fa-arrow-right"></span></a>
    </div>
  </div>

</div>
<!-- Page Content -->