<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
  <!-- Title -->
  <div class="col-md-8 noSpaceMobile">
    <h3 class="pageHeading">{{ collections[primaryCollection].pluralLabel }}</h3>
    <div class="breadCrumb">
      <a href="#/"><span class="fa fa-arrow-left"></span> Back to summary</a>
    </div>
  </div>
  <!-- Search -->
  <div class="col-md-4 text-right noSpaceMobile">
    <form ng-submit="search(searchTerm)" class="input-group">
      <input type="text" class="form-control defaultInput" value="" ng-model="searchTerm" size="20"/>
      <span ng-disabled="itemsLoading" ng-click="search(searchTerm)" class="input-group-addon searchIcon"><i class="fa fa-search"></i></span>
    </form>
  </div>
</div>
<!-- Page Header -->

<!-- Content -->
<div class="container-fluid noSpace">

  <div class="col-md-12 text-center noSpaceMobile">
    <span ng-include="'views/includes/alerts.html'"></span>
  </div>

  <!-- Message if they have not setup their primary collection -->
  <div ng-if="!itemsLoading && loadedItems.length == 0" class="container-fluid text-center" style="margin-top:50px;">
    <div class="col-md-12">
      <h2 class="pageHeading">No items to show!</h2>
      <a class="btn btn-success" ng-href="#/{{primaryCollection}}/new"><h3 class="noSpace">Create one now</h3></a>
    </div>
  </div>
  <!-- Page Header -->

  <!-- "Create New" card -->
  <div ng-if="!itemsLoading && loadedItems.length > 0" class="col-md-4 text-center noSpaceMobile fadeInOut">
    <a ng-disabled="itemsLoading" class="noUnderline" ng-href="#/{{primaryCollection}}/new">
      <div class="itemCardActive">
        <span class="itemCardActiveIcon fa fa-plus"></span>
        <span class="cardTitleBreaker"></br></span>
        <span class="itemCardActiveTitle">New {{ collections[primaryCollection].singleLabel }}</span>
      </div>
    </a>
  </div>

  <!-- Create a card for each item -->
  <div ng-repeat="item in loadedItems" class="col-md-4 noSpaceMobile fadeInOutStagger">
    <div class="itemCard">
      <a class="noUnderline" ng-href="#/{{primaryCollection}}/view/{{item.number}}">
        <div class="col-md-12 clearfix">
          <span class="pull-left text-left itemCardTitle">{{ item.number }}</span>
          <span class="pull-right text-right">
            <div class="itemCardState">{{ item.state }}</div>
          </span>
        </div>
        <div class="col-md-12">
          <span class="itemCardUpdateInfo">Updated: {{ formattedDateTime(item.updated_at) }} By: {{ item._updated_by.firstName }}</span>
        </div>
        <div class="col-md-12">
          <div class="ellipsis">
            <div class="itemCardContent">
              {{ item[collections[primaryCollection].displayField] }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


</div>
