<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:10px;">
  
  <!-- Title -->
  <div class="col-md-9">
    <div class="breadCrumb">
      <a href="#/account/collections/"><span class="fa fa-arrow-left"></span> Item configuration</a>
    </div>
    <h3 class="pageHeading">New Collection of Items</h3>
  </div>
</div>
<!-- Page Header -->

<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Which type of items would you like to create?</h4>
    </div>
  </div>

  <div class="row text-center">

    <div class="col-md-3">
      <h4 class="btn btn-success btn-block">Workable</h4>
    </div>

    <div class="col-md-3">
      <h4 class="btn btn-success btn-block">Revisionable</h4>
    </div>

    <div class="col-md-3">
      <h4 class="btn btn-success btn-block">Intentorial</h4>
    </div>

    <div class="col-md-3">
      <h4 class="btn btn-success btn-block">Basic</h4>
    </div>

  </div>



</div>
