<form name="itemForm" ng-model="selectedItem" ng-submit="preSubmit(selectedItem)" novalidate>
  <div class="container singleItemOuterContainer noSpaceMobile" style="margin-top:25px;">

    <div class="row noSpaceMobile" style="padding:5px;">
      <h3 class="pageHeading noSpace">
          <span ng-if="currentAction == 'create'">New {{ collections[selectedItem.collectionName].singleLabel }}</span>
          <span ng-if="currentAction == 'update'">{{ selectedItem.number }}<span class="itemDisplayTitle"> - {{ selectedItem[collections[selectedItem.collectionName].displayField] }}</span></span>
      </h3>
    </div>

    <div class="row noSpaceMobile" style="padding:5px;">
      <div class="breadCrumb">
          <a href="javascript:history.back()"><span class="fa fa-arrow-left"></span> Back to {{ collections[selectedItem.collectionName].singleLabel }} list</a>
        </div>
      </div>
    </div>

    <div class="container singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <!-- Begin building each single field -->
      <div ng-repeat="field in collections[selectedItem.collectionName].fields" ng-if="field.name != 'number'"class="form-group" ng-class="getItemFieldClass(selectedItem, field)">
        <label for="{{ field.name }}">{{ field.label }}:</label>

        <!-- Short text input -->
        <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'text' || field.displayType == 'boolean'" type="text" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" size="20"/>
        
        <!-- Textarea -->
        <textarea ng-disabled="selectedItemSubmitting || currentAction == 'preview'" style="resize:vertical;" ng-if="field.displayType == 'textarea'" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" rows="5" size="20"></textarea>

        <!-- Choice list -->
        <select ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'choice' || field.displayType == 'state'" ng-options="option for option in field.choices" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]"></select>

        <!-- Date Time Picker -->
        <div class='input-group date' id='datetimepicker1' ng-if="field.displayType == 'datetime'">
          <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" date-time-picker="{{field.name}}"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <!-- Single Reference -->
        <span ng-if="field.displayType == 'SingleReference'">
          <!-- Hidden value that hold the entire reference item object -->
          <input type="hidden" ng-model="selectedItem[field.name]"/>
          <!-- Displayed value with nav and edit buttons -->
          <div class="input-group">
            <input type="text" class="form-control defaultInput" ng-disabled="true" ng-value="selectedItem[field.name][collections[field.referenceTo].displayField]" size="20"/>
            <span ng-disabled="selectedItemSubmitting" ng-click="openItemPreview(selectedItem[field.name])" class="input-group-addon ref-info-icon"><i class="glyphicon glyphicon glyphicon-new-window"></i></span>
            <span ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-click="loadReferenceItems(field.referenceTo, field.name, 'single')" class="input-group-addon single-ref-select-button">Select</span>
            </span>
          </div>
        </span>
      </div>
      <!-- End Single field -->

      <!-- Button Row -->
      <div class="col-md-12">
        <!-- Spacer -->
        <div class="col-md-8"></div>

        <!-- Delete button -->
        <div class="col-md-2" style="padding:5px;">
          <button ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" ng-click="deleteOne(selectedItem)" class="btn btn-danger btn-block">Delete</button>
        </div>
        
        <!-- Buttons -->
        <div class="col-md-2" style="padding:5px;">
          <!-- Create -->
          <button ng-if="currentAction == 'create'" ng-disabled="selectedItemSubmitting" type="submit" class="btn btn-primary btn-block">
            <span ng-if="!selectedItemSubmitting">Submit</span>
            <span ng-if="selectedItemSubmitting"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Submitting</span>
          </button>
          
          <!-- Update -->
          <button ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" type="submit" class="btn btn-primary btn-block">
            <span ng-if="!selectedItemSubmitting">Save</span>
            <span ng-if="selectedItemSubmitting"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving</span>
          </button>
          
        </div>
      </div>
      <!-- Button Row -->

    </div>
  </div>
</form>
