<div ng-if="!itemsLoading" class="fadeInOut">
  <form name="itemForm" ng-submit="preSubmit(selectedItem)" ng-model="selectedItem" novalidate>

    <!-- Page Content -->
    <div class="container-fluid">

      <!-- Icon & title of the item -->
      <div class="col-md-4">
        <h3>
          <span class="mainColor fa" ng-class="collections[selectedItem.collectionName].icon"></span>
          <span ng-if="currentAction == 'create'"><strong>New {{ collections[selectedItem.collectionName].singleLabel }}</strong></span>
          <span ng-if="currentAction == 'update'"><strong>{{ collections[selectedItem.collectionName].singleLabel }} #{{ selectedItem.number }}</strong></span>
        </h3>
      </div>

      <!-- State (Workable only) -->
      <div ng-if="collections[selectedItem.collectionName].collectionType == 'workable'" class="col-md-8 text-right" >
        <!-- Desktop -->
        <div class="btn-group hideInMobile fadeInOut">
          <button type="button" class="btn" ng-repeat="choice in collections[selectedItem.collectionName].stateChoices" ng-class="getItemStateButtonClass(choice, selectedItem.state)" ng-click="selectedItem.state = choice">{{ choice }}</button>
        </div>
        <!-- Mobile -->
        <div class="row hideInDesktop noSpace" style="padding: 10px 0px 10px 0px; margin: 5px 0px 5px 0px;background-color:#fcfcfc;border-radius:5px;">
          <div class="col-md-12" ng-repeat="choice in collections[selectedItem.collectionName].stateChoices">
            <button style="margin:3px;" type="button" class="btn btn-block" ng-class="getItemStateButtonClass(choice, selectedItem.state)" ng-click="selectedItem.state = choice">{{ choice }}</button>
          </div>
        </div>
        <div ng-if="currentAction == 'update'" class="itemInfoUpdate">Last updated by {{ selectedItem._updated_by.firstName }} on {{ formattedDateTime(selectedItem.updated_at) }}</div>
      </div>

      <!-- Item title -->
      <div class="col-md-12">
        <label for="title"><strong>Title:</strong></label>
        <input ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" placeholder="Title" value="" ng-model="selectedItem.title" size="20"/>
      </div>

      <!-- START OF LOOPING THROUGH FIELDS -->
      <div ng-repeat="field in collections[selectedItem.collectionName].fields" ng-if="field.name != 'number' && field.name != 'state' && field.name != 'title'" class="form-group fadeInOut" ng-class="getItemFieldClass(selectedItem, field)">
        <label for="{{ field.name }}"><strong>{{ field.label }}:</strong></label>

        <!-- Short text input -->
        <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'text' || field.displayType == 'boolean'" type="text" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" size="20"/>
        
        <!-- Textarea -->
        <textarea ng-disabled="selectedItemSubmitting || currentAction == 'preview'" style="resize:vertical;" ng-if="field.displayType == 'textarea'" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" rows="5" size="20"></textarea>

        <!-- Choice list -->
        <select ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'choice'" ng-options="option for option in field.choices" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" style="border-radius:0px;">
          <option value="">- Select an option -</option>
        </select>

        <!-- Date Time Picker -->
        <div ng-if="field.displayType == 'datetime'" class='input-group date'>
          <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" date-time-picker="{{field.name}}"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <!-- Number & Decimal -->
        <input ng-if="field.displayType == 'number' || field.displayType == 'decimal'" ng-required="field.required" type="number" class="form-control defaultNumberInput" ng-model="selectedItem[field.name]" >

        <!-- Currency -->
        <input ng-disabled="selectedItemSubmitting" ng-if="field.displayType == 'currency'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" currency-field/>

         <!-- Phone Number -->
        <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'phone'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" ng-intl-tel-input/>

        <!-- Phone number -->
        <input ng-if="field.displayType == 'phone'" ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" size="20" ng-intl-tel-input required/>

        <!-- Checkbox -->
        <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'checkbox' || field.displayType == 'boolean'" type="checkbox" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]"/>

        <!-- Item Reference -->          
        <span class="input-group" ng-if="field.displayType == 'itemReference'" ng-init="getRefItems(field.referenceTo)">
          <ui-select allow-clear ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refItems[field.referenceTo].totalCount == 0 || refItems[field.referenceTo].totalCount == -1">
             <ui-select-match placeholder="Select or search from {{field.referenceTo}}">
                <small class="fa" ng-class="collections[field.referenceTo].icon"></small> {{$select.selected.number}}
              </ui-select-match>
            <ui-select-choices repeat="refItem._id as refItem in refItems[field.referenceTo].items | propsFilter: {number: $select.search, title: $select.search}">
              <div>
                <small class="fa" ng-class="collections[field.referenceTo].icon"></small>
                <span ng-bind-html="refItem.number | highlight: $select.search"></span>
              </div>
              <small ng-bind-html="refItem.title | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <span class="input-group-btn">
            <button type="button" ng-click="selectedItem[field.name] = null" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </span>

        <!-- Item Reference List (No quantity)-->          
        <span ng-if="field.displayType == 'itemReferenceList' && collections[field.referenceTo].collectionType != 'inventorial' && collections[field.referenceTo].collectionType != 'inventorial_bundle'" ng-init="getRefItems(field.referenceTo)">
          <ui-select multiple ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refItems[field.referenceTo].totalCount == 0 || refItems[field.referenceTo].totalCount == -1" sortable="true" close-on-select="false" class="defaultInput" style="padding:5px;">
             <ui-select-match placeholder="Select {{collections[field.referenceTo].pluralLabel}}">
                <small class="fa" ng-class="collections[field.referenceTo].icon"></small> {{$item.number}}
              </ui-select-match>
            <ui-select-choices repeat="refItem._id as refItem in refItems[field.referenceTo].items | propsFilter: {number: $select.search, title: $select.search}">
              <div>
                <small class="fa" ng-class="collections[field.referenceTo].icon"></small>
                <span ng-bind-html="refItem.number | highlight: $select.search"></span>
              </div>
              <small ng-bind-html="refItem.title | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </span>


        <!-- REFERENCE LIST: Inventory Items (With quantity) -->      
        <div class="container-fluid noSpace" ng-if="field.displayType == 'itemReferenceList' && collections[field.referenceTo].collectionType == 'inventorial'" ng-init="initSelectedReferences(field.referenceTo, selectedItem[field.name])">
          <!-- Header -->
          <div class="row refListHeader noSpace">
            <div class="col-md-1"></div><!-- Spacer -->
            <div class="col-md-2">Number</div>
            <div class="col-md-7">Title</div>
            <div class="col-md-2 text-center">Qty</div>
          </div>

          <!-- Create a row for each reference item -->
          <div ng-if="!refItemsLoading" ng-repeat="referenceItem in selectedItem[field.name] track by $index" class="row refListRow noSpace fadeInOut" ng-class="getRefListRowClass($index, selectedItem[field.name].length-1)">
            <!-- Remove item button -->
            <div class="col-md-1 text-right">
              <span ng-click="removeReference(field.name, $index, referenceItem._id)" class="customFieldRemoveIcon fa fa-remove"></span>
            </div>
            <div class="col-md-2"><a ng-href="#/{{field.referenceTo}}/view/{{refItems[field.referenceTo].itemObjects[referenceItem._id].number}}">{{ refItems[field.referenceTo].itemObjects[referenceItem._id].number }}</a></div>
            <div class="col-md-7"><a ng-href="#/{{field.referenceTo}}/view/{{refItems[field.referenceTo].itemObjects[referenceItem._id].number}}">{{ refItems[field.referenceTo].itemObjects[referenceItem._id].title }}</a></div>
            <div class="col-md-2 text-center"><input class="form-control defaultInput" type="number" style="padding:3px;text-align:center;" ng-model="referenceItem.qty"/></div>
          </div>

          <!-- If there are no items -->
          <div ng-if="!refItemsLoading && (selectedItem[field.name].length == 0 || !selectedItem[field.name])" class="row refListRow noSpace fadeInOut">
            <div class="col-md-12 text-center" style="padding-bottom:10px;">
              <span>-- No {{ collections[field.referenceTo].pluralLabel }} selected --</span>
            </div>
          </div>

          <!-- Loading indicator -->
          <div ng-if="refItemsLoading" class="row refListRow noSpace">
            <div class="col-md-12 text-center" style="padding-bottom:10px;">
              <span class="fa fa-refresh fa-spin"></span>
              <span> Loading {{ collections[field.referenceTo].pluralLabel }}</span>
            </div>
          </div>

          <!-- Select Items Button -->
          <div class="row noSpace">
            <div class="col-md-12 text-right noSpace" style="padding-top:5px;">
              <button type="button" ng-click="showRefListSelector(field.referenceTo, field.name)" class="btn btn-success"><span class="fa fa-search"></span> Select {{ collections[field.referenceTo].pluralLabel }}</button>
            </div>
          </div>

        </div>
        <!-- REFERENCE LIST: Inventory Items (With quantity) -->  

        <style>

          .refListContainer {
            border: 5px solid #cbe1d8;
            border-radius: 10px;
          }


        </style>


        <!-- REFERENCE LIST: Bundle Items-->     
        <!-- Bundles include a breakdown of inventory -->     
        <div class="container-fluid noSpace clearfix" ng-if="field.displayType == 'itemReferenceList' && collections[field.referenceTo].collectionType == 'inventorial_bundle'" ng-init="initSelectedReferences(field.referenceTo, selectedItem[field.name])">
          <span ng-init="getRefItems(collections[field.referenceTo].fields[2].referenceTo)"></span>
          
          <!-- List of bundles -->
          <div class="col-md-8" style="padding-left:0px;">
            <div class="refListContainer">
              <!-- Header -->
              <div class="row refListHeader noSpace">
                <div class="col-md-1"></div><!-- Spacer -->
                <div class="col-md-2"><h4 class="noSpace">Number</h4></div>
                <div class="col-md-6"><h4 class="noSpace">Title</div>
                <div class="col-md-2 text-center"><h4 class="noSpace">Qty</div>
                <div class="col-md-1">&nbsp;</div><!-- Spacer -->
              </div>

              <!-- Create a row for each reference item -->
              <div ng-if="!refItemsLoading" ng-repeat="referenceItem in selectedItem[field.name] track by $index" class="clearfix row noSpace fadeInOut" ng-class="getRefListRowClass($index, selectedItem[field.name].length-1)">
                
                <!-- Visible info -->
                <div class="col-md-1 text-right">
                  <span ng-click="removeReference(field.name, $index, referenceItem._id)" class="customFieldRemoveIcon fa fa-remove"></span>
                </div>
                <div class="col-md-2"><a ng-href="#/{{field.referenceTo}}/view/{{refItems[field.referenceTo].itemObjects[referenceItem._id].number}}">{{ refItems[field.referenceTo].itemObjects[referenceItem._id].number }}</a></div>
                <div class="col-md-6"><a ng-href="#/{{field.referenceTo}}/view/{{refItems[field.referenceTo].itemObjects[referenceItem._id].number}}">{{ refItems[field.referenceTo].itemObjects[referenceItem._id].title }}</a></div>
                <div class="col-md-2 text-center"><input class="form-control defaultInput" type="number" style="padding:3px;text-align:center;" ng-model="referenceItem.qty"/></div>
                <div class="col-md-1"><span class="fa fa-bars fa-2x expandBundleItem" data-toggle="collapse" ng-click="toggleField($index + '_breakdown')"></span></div>
                <!-- Hidden element to initialize items -->
                <span ng-init="initRequiredInventory(field.referenceTo, referenceItem._id, referenceItem.qty)"></span>

                <!-- Hidden breakdown for each bundle item-->
                <div ng-if="showField($index + '_breakdown')" class="fadeInOut" ng-attr-id="{{$index}}_breakdown">
                  <div ng-repeat="inventoryItem in refItems[field.referenceTo].itemObjects[referenceItem._id].inventoryitems track by $index" class="row fadeInOutStagger noSpace" ng-class="getBundleRefListRowClass($index, refItems[field.referenceTo].itemObjects[referenceItem._id].inventoryitems.length-1)">
                    <div class="col-md-4"></div><!-- Spacer -->
                    <div class="col-md-2">
                      <a ng-href="#/{{collections[field.referenceTo].fields[2].referenceTo}}/view/{{refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[inventoryItem._id].number}}">{{ refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[inventoryItem._id].number }}</a>
                    </div>
                    <div class="col-md-3">
                      <a ng-href="#/{{collections[field.referenceTo].fields[2].referenceTo}}/view/{{refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[inventoryItem._id].number}}">{{ refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[inventoryItem._id].title }}</a>
                    </div>
                    <div class="col-md-2 text-center">
                      <span>{{ inventoryItem.qty }} (x{{ referenceItem.qty }})</span>
                    </div>
                    <div class="col-md-1"></div><!-- Spacer -->
                  </div>
                </div>

              </div>

              <!-- If there are no items -->
              <div ng-if="!refItemsLoading && (selectedItem[field.name].length == 0 || !selectedItem[field.name])" class="row refListRow noSpace fadeInOut">
                <div class="col-md-12 text-center" style="padding-bottom:10px;">
                  <span>-- No {{ collections[field.referenceTo].pluralLabel }} selected --</span>
                </div>
              </div>
              <!-- Loading indicator -->
              <div ng-if="refItemsLoading" class="row refListRow noSpace">
                <div class="col-md-12 text-center" style="padding-bottom:10px;">
                  <span class="fa fa-refresh fa-spin"></span>
                  <span> Loading {{ collections[field.referenceTo].pluralLabel }}</span>
                </div>
              </div>
              <!-- Select Items Button -->
              <div class="row noSpace">
                <div class="col-md-12 text-right noSpace" style="padding:5px;">
                  <button type="button" ng-click="showRefListSelector(field.referenceTo, field.name)" class="btn btn-success"><span class="fa fa-search"></span> Select {{ collections[field.referenceTo].pluralLabel }}</button>
                </div>
              </div>
            </div>
          </div>
          <!-- List of bundles -->

          <!-- Required Inventory -->
          <div class="col-md-4" style="padding-right:0px;">
            <div class="refListContainer">

              <div class="row refListHeader noSpace">
                <div class="col-md-12 text-center">
                  <span>Total Required Inventory</span>
                </div>
              </div>
              <!-- If the record is new -->
              <div ng-if="currentAction == 'create'" class="refListRow row noSpace" style="padding-bottom:5px;">
                <div class="col-md-12 text-center">
                  <span> Totals will update after save</span>
                </div>
              </div>

              <!-- If nothing is selected yet -->
              <div ng-if="currentAction == 'update' && inventoryInitialized && (!selectedItem[field.name] || selectedItem[field.name].length == 0)" class="refListRow row noSpace" style="padding-bottom:5px;">
                <div class="col-md-12 text-center">
                  <span> No items selected</span>
                </div>
              </div>
              <!-- Loading indicator -->
              <div ng-if="currentAction == 'update' && !inventoryInitialized" class="refListRow row noSpace" style="padding-bottom:5px;">
                <div class="col-md-12 text-center">
                  <span class="fa fa-refresh fa-spin"></span>
                  <span> Loading</span>
                </div>
              </div>

              <!-- Inventory breakdown -->
              <div ng-if="currentAction == 'update' && inventoryInitialized && (selectedItem[field.name] && selectedItem[field.name].length > 0)" ng-repeat="(key, value) in requiredInventory" class="refListRow row noSpace fadeInOut" style="padding-bottom:5px;font-size:16px;">
                <div class="col-md-2"></div><!-- Spacer -->
                <div class="col-md-8">
                  <span class="badge badgeLight" style="font-size:16px;">{{ value.qty }}</span>
                  <span><strong> <a ng-href="#/{{collections[field.referenceTo].fields[2].referenceTo}}/view/{{refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[key].number}}">{{ refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[key].number }}</a></strong></span>
                  <span><strong> <a ng-href="#/{{collections[field.referenceTo].fields[2].referenceTo}}/view/{{refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[key].number}}">{{ refItems[collections[field.referenceTo].fields[2].referenceTo].itemObjects[key].title }}</a></strong></span>
                </div>
                <div class="col-md-2"></div><!-- Spacer -->

                <!-- Pull from inventory button -->
                <div class="col-md-12">
                  <button type="button" ng-click="pullInventoryItems(collections[field.referenceTo].fields[2].referenceTo, requiredInventory)" class="btn btn-success btn-block">Pull from Inventory</button>
                </div>

              </div>
            </div>
          </div>
          <!-- Required Inventory -->
        </div>
        <!-- END REFERENCE LIST: Bundle Items-->  

        <!-- User Reference List -->
        <span ng-if="field.displayType == 'userReferenceList'" ng-init="getRefUsers()">
          <ui-select multiple ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refUsers.users && refUsers.users.length == 0" sortable="true" close-on-select="false" class="defaultInput" style="padding:5px;">
            <ui-select-match placeholder="Select Users">
              <small class="fa fa-user"></small> {{$item.firstName}} {{$item.lastName}}
            </ui-select-match>
            <ui-select-choices repeat="refUser._id as refUser in refUsers.users | propsFilter: {firstName: $select.search, lastName: $select.search, emailAddress: $select.search}">
              <div>
                <small class="fa fa-user"></small>
                <span ng-bind-html="refUser.firstName | highlight: $select.search"></span>
                <span ng-bind-html="refUser.lastName | highlight: $select.search"></span>
              </div>
              <small ng-bind-html="refUser.emailAddress | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </span>

        <!-- Single User Reference -->          
        <span class="input-group" ng-if="field.displayType == 'userReference'" ng-init="getRefUsers()">
          <ui-select ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refUsers.users && refUsers.users.length == 0">
             <ui-select-match placeholder="Select or search a user">
                <small class="fa fa-user"></small> {{$select.selected.firstName}} {{$select.selected.lastName}}
              </ui-select-match>
            <ui-select-choices repeat="refUser._id as refUser in refUsers.users | propsFilter: {firstName: $select.search, lastName: $select.search, emailAddress: $select.search}">
              <div>
                <small class="fa fa-user"></small>
                <span ng-bind-html="refUser.firstName | highlight: $select.search"></span>
                <span ng-bind-html="refUser.lastName | highlight: $select.search"></span>
              </div>
              <small ng-bind-html="refUser.emailAddress | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <span class="input-group-btn">
            <button type="button" ng-click="selectedItem[field.name] = null" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </span>
       
      </div>
      <!-- END LOOPING THROUGH EACH FIELD -->
    </div>
    <!-- Page Content -->

    <!-- Modal Reference Selector -->
    <div id="refListSelector" class="modal fade" role="dialog" >
      <div class="modal-dialog">
        <div class="modal-content" style="border-radius:0px;">
          <div class="modal-header noSpace" style="border:none;">
            <button type="button" class="close" data-dismiss="modal"><span class="fa fa-close"></span></button>
            <h4 class="text-center">Select {{ collections[refListCollection].pluralLabel }}</h4>            
          </div>

          <!-- Modal body for inventorial items -->
          <div ng-if="collections[refListCollection].collectionType == 'inventorial'" class="modal-body">
            <div class="row refListHeader text-center">
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-3">Number</div>
              <div class="col-md-4">Title</div>
              <div class="col-md-2">In stock</div>
            </div>
            <div style="max-height:500px;overflow-y:scroll;">
              <div ng-repeat="item in refItems[refListCollection].items track by $index" class="row" ng-class="getRefListRowClass($index, refItems[refListCollection].items.length-1)">
                <div class="col-md-1"><input ng-attr-id="{{item._id}}" ng-checked="selectedReferences[item._id]" type="checkbox" name="checkbox" class="refListCheckbox"/></div>
                <div class="col-md-3">{{ item.number }}</div>
                <div class="col-md-4">{{ item.title }}</div>
                <div class="col-md-2">{{ item.quantity }}</div>
              </div>
            </div>
          </div>

          <!-- Modal body for bundle items -->
          <div ng-if="collections[refListCollection].collectionType == 'inventorial_bundle'" class="modal-body">
            <div class="row refListHeader text-center">
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-3 text-left">Number</div>
              <div class="col-md-7 text-left">Title</div>
            </div>
            <div style="max-height:500px;overflow-y:scroll;">
              <div ng-repeat="item in refItems[refListCollection].items track by $index" class="row refListRow">
                <div class="col-md-1"><input ng-attr-id="{{item._id}}" ng-checked="selectedReferences[item._id]" type="checkbox" name="checkbox" class="refListCheckbox"/></div>
                <div class="col-md-3 text-left">{{ item.number }}</div>
                <div class="col-md-7 text-left">{{ item.title }}</div>
              </div>
            </div>
          </div>

          <div class="modal-footer noSpace" style="border:none;">
            <div class="col-md-8"></div><!-- Spacer -->
            <div class="col-md-4">
              <button type="button" ng-click="addSelectedReferences()" class="btn btn-success btn-block">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reference Selector -->

    <!-- Footer (with controls) -->
    <div class="controlFooter">
      <div class="container-fluid">
        <!-- Configure button -->
        <div class="col-md-1 text-left" style="padding:7px;">
          <button type="button" ng-click="changeView('account/collections/view/' + selectedItem.collectionName)" class="btn btn-success btn-block"><span class="fa fa-cog"></span> Settings</a>
        </div>
        <div ng-if="currentAction == 'update'" class="col-md-2 text-left" style="padding:7px;">
          <button type="button" ng-click="changeView(selectedItem.collectionName + '/new')" class="btn btn-success btn-block"><span class="fa fa-plus"></span> Create New {{ collections[selectedItem.collectionName].singleLabel }}</a>
        </div>
        <!-- Alerts -->
        <div class="col-md-5 text-center">
          <span ng-include="'views/includes/alerts.html'"></span>
        </div>
        <!-- Delete button -->
        <div class="col-md-2" style="padding:7px;">
          <button ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" ng-click="deleteOne(selectedItem)" class="btn btn-danger btn-lg btn-block">Delete</button>
        </div>
        <!-- Save/Create Buttons -->
        <div class="col-md-2" style="padding:7px;">
          <!-- Create -->
          <button type="button" ng-if="currentAction == 'create'" ng-disabled="selectedItemSubmitting" ng-click="preSubmit(selectedItem)" class="btn btn-success btn-lg btn-block">
            <span ng-if="!selectedItemSubmitting">Submit</span>
            <span ng-if="selectedItemSubmitting"><span class="fa fa-refresh fa-spin"></span> Submitting</span>
          </button>
          <!-- Update -->
          <button type="button" ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" ng-click="preSubmit(selectedItem)" class="btn btn-success btn-lg btn-block">
            <span ng-if="!selectedItemSubmitting">Save</span>
            <span ng-if="selectedItemSubmitting"><span class="fa fa-refresh fa-spin"></span> Saving</span>
          </button>
        </div>
      </div>
    </div>

  </form>
</div>


