<div ng-if="!itemsLoading" class="fadeInOut">

  <form name="itemForm" ng-model="selectedItem" ng-submit="preSubmit(selectedItem)" novalidate>

    <!-- Page Header -->
    <div class="container-fluid noSpace" style="margin-top:10px;">
      <!-- Title -->
      <div class="col-md-6 noSpace">
        <div class="breadCrumb">
          <a ng-href="#/{{selectedItem.collectionName}}"><span class="fa fa-arrow-left"></span> All {{ collections[selectedItem.collectionName].pluralLabel }}</a>
        </div>
      </div>

      <div ng-if="currentAction == 'update'" class="col-md-6 noSpace text-right" style="padding-right:25px;">
        <a ng-href="#/{{collection.name}}/new" class="btn btn-success"><span class="fa fa-plus"></span> New {{ collections[selectedItem.collectionName].singleLabel }}</a>
      </div>

      <!-- Alerts container -->
      <div class="col-md-12 text-center noSpace">
        <span ng-include="'views/includes/alerts.html'"></span>
      </div>

    </div>
    <!-- Page Header -->

    <!-- Page Content -->
    <div class="container-fluid singleItemOuterContainer noSpaceMobile">

      <!-- Item info: WORKABLE -->
      <div ng-if="collections[selectedItem.collectionName].collectionType == 'workable'" class="container-fluid itemInfo">
        <div class="col-md-4">
          <h4 class="itemInfoNumber">
            <span class="mainColor fa" ng-class="collections[selectedItem.collectionName].icon"></span>
            <span ng-if="currentAction == 'create'"><strong>New {{ collections[selectedItem.collectionName].singleLabel }}</strong></span>
            <span ng-if="currentAction == 'update'"><strong>{{ collections[selectedItem.collectionName].singleLabel }} #{{ selectedItem.number }}</strong></span>
          </h4>
        </div>
        <!-- State -->
        <div class="col-md-8 text-right">
          <!-- State (Desktop) -->
          <div class="btn-group hideInMobile fadeInOut">
            <button type="button" class="btn" ng-repeat="choice in collections[selectedItem.collectionName].stateChoices" ng-class="getItemStateButtonClass(choice, selectedItem.state)" ng-click="selectedItem.state = choice">{{ choice }}</button>
          </div>
          <!-- State (Mobile) -->
          <div class="row hideInDesktop noSpace" style="padding: 10px 0px 10px 0px; margin: 5px 0px 5px 0px;background-color:#fcfcfc;border-radius:5px;">
            <div class="col-md-12" ng-repeat="choice in collections[selectedItem.collectionName].stateChoices">
              <button style="margin:3px;" type="button" class="btn btn-block" ng-class="getItemStateButtonClass(choice, selectedItem.state)" ng-click="selectedItem.state = choice">{{ choice }}</button>
            </div>
          </div>
        </div>
        <!-- Title -->
        <div class="col-md-6">
          <input ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" placeholder="Title" value="" ng-model="selectedItem.title" size="20"/>
        </div>
        <!-- Last update info -->
        <div class="col-md-6">
          <div ng-if="currentAction == 'update'" class="itemInfoUpdate">Last updated by {{ selectedItem._updated_by.firstName }} on {{ formattedDateTime(selectedItem.updated_at) }}</div>
        </div>
      </div>
      <!-- Item info: WORKABLE -->


      <!-- Item info: INVENTORIAL -->
      <div ng-if="collections[selectedItem.collectionName].collectionType == 'inventorial'" class="container-fluid itemInfo">
        <div class="col-md-6">
          <h4 class="itemInfoNumber">
            <span ng-if="currentAction == 'create'"><strong>New {{ collections[selectedItem.collectionName].singleLabel }}</strong></span>
            <span ng-if="currentAction == 'update'"><strong>{{ collections[selectedItem.collectionName].singleLabel }} #{{ selectedItem.number }}</strong></span>
          </h4>
        </div>
        <!-- Last update info -->
        <div class="col-md-6 text-right">
          <div ng-if="currentAction == 'update'" class="itemInfoUpdate">Last updated by {{ selectedItem._updated_by.firstName }} on {{ formattedDateTime(selectedItem.updated_at) }}</div>
        </div>
        <!-- Title -->
        <div class="col-md-9">
          <input ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" placeholder="Title" value="" ng-model="selectedItem.title" size="20"/>
        </div>

      </div>
      <!-- Item info: INVENTORIAL -->


      <!-- Item info: REVISIONABLE -->
      <div ng-if="collections[selectedItem.collectionName].collectionType == 'revisionable'" class="container-fluid itemInfo">
        <div class="col-md-6">
          <h4 class="itemInfoNumber">
            <span ng-if="currentAction == 'create'"><strong>New {{ collections[selectedItem.collectionName].singleLabel }}</strong></span>
            <span ng-if="currentAction == 'update'"><strong>{{ collections[selectedItem.collectionName].singleLabel }} #{{ selectedItem.number }}</strong></span>
          </h4>
        </div>
        <!-- Last update info -->
        <div class="col-md-6 text-right">
          <div ng-if="currentAction == 'update'" class="itemInfoUpdate">Last updated by {{ selectedItem._updated_by.firstName }} on {{ formattedDateTime(selectedItem.updated_at) }}</div>
        </div>
        <!-- Title -->
        <div class="col-md-9">
          <input ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" placeholder="Title" value="" ng-model="selectedItem.title" size="20"/>
        </div>

      </div>
      <!-- Item info: REVISIONABLE -->


      <!-- Item info: BASIC -->
      <div ng-if="collections[selectedItem.collectionName].collectionType == 'basic'" class="container-fluid itemInfo">
        <div class="col-md-6">
          <h4 class="itemInfoNumber">
            <span ng-if="currentAction == 'create'"><strong>New {{ collections[selectedItem.collectionName].singleLabel }}</strong></span>
            <span ng-if="currentAction == 'update'"><strong>{{ collections[selectedItem.collectionName].singleLabel }} #{{ selectedItem.number }}</strong></span>
          </h4>
        </div>
        <!-- Last update info -->
        <div class="col-md-6 text-right">
          <div ng-if="currentAction == 'update'" class="itemInfoUpdate">Last updated by {{ selectedItem._updated_by.firstName }} on {{ formattedDateTime(selectedItem.updated_at) }}</div>
        </div>
        <!-- Title -->
        <div class="col-md-9">
          <input ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" placeholder="Title" value="" ng-model="selectedItem.title" size="20"/>
        </div>

      </div>
      <!-- Item info: BASIC -->


      <!-- Item content -->
      <div class="container-fluid singleItemInnerContainer noSpaceMobile" style="padding:25px;">
        <!-- Begin building each single field -->
        <div ng-repeat="field in collections[selectedItem.collectionName].fields" ng-if="field.name != 'number' && field.name != 'state' && field.name != 'title'" class="form-group fadeInOut" ng-class="getItemFieldClass(selectedItem, field)">
          <label for="{{ field.name }}"><strong>{{ field.label }}:</strong></label>

          <!-- Short text input -->
          <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'text' || field.displayType == 'boolean'" type="text" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" size="20"/>
          
          <!-- Textarea -->
          <textarea ng-disabled="selectedItemSubmitting || currentAction == 'preview'" style="resize:vertical;" ng-if="field.displayType == 'textarea'" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" rows="5" size="20"></textarea>

          <!-- Choice list -->
          <select ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'choice'" ng-options="option for option in field.choices" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" style="border-radius:0px;">
            <option value="">- Select an option -</option>
          </select>

          <!-- Date Time Picker -->
          <div ng-if="field.displayType == 'datetime'" class='input-group date'>
            <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" date-time-picker="{{field.name}}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>

          <!-- Number & Decimal -->
          <input ng-if="field.displayType == 'number' || field.displayType == 'decimal'" ng-required="field.required" type="number" class="form-control defaultNumberInput" ng-model="selectedItem[field.name]" >

          <!-- Currency -->
          <input ng-disabled="selectedItemSubmitting" ng-if="field.displayType == 'currency'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" currency-field/>

           <!-- Phone Number -->
          <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'phone'" ng-required="field.required" type='text' class="form-control defaultInput" ng-model="selectedItem[field.name]" ng-intl-tel-input/>

          <!-- Phone number -->
          <input ng-if="field.displayType == 'phone'" ng-disabled="selectedItemSubmitting" type="text" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]" size="20" ng-intl-tel-input required/>

          <!-- Checkbox -->
          <input ng-disabled="selectedItemSubmitting || currentAction == 'preview'" ng-if="field.displayType == 'checkbox' || field.displayType == 'boolean'" type="checkbox" ng-required="field.required" class="form-control defaultInput" value="" ng-model="selectedItem[field.name]"/>

          <!-- Item Reference -->          
          <span class="input-group" ng-if="field.displayType == 'itemReference'" ng-init="getRefItems(field.referenceTo)">
            <ui-select allow-clear ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refItems[field.referenceTo].totalCount == 0 || refItems[field.referenceTo].totalCount == -1">
               <ui-select-match placeholder="Select or search from {{field.referenceTo}}">
                  <small class="fa" ng-class="collections[field.referenceTo].icon"></small> {{$select.selected.number}}
                </ui-select-match>
              <ui-select-choices repeat="refItem._id as refItem in refItems[field.referenceTo].items | propsFilter: {number: $select.search, title: $select.search}">
                <div>
                  <small class="fa" ng-class="collections[field.referenceTo].icon"></small>
                  <span ng-bind-html="refItem.number | highlight: $select.search"></span>
                </div>
                <small ng-bind-html="refItem.title | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>

            <span class="input-group-btn">
              <button type="button" ng-click="selectedItem[field.name] = null" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </span>

          <!-- Item Reference List -->          
          <span ng-if="field.displayType == 'itemReferenceList'" ng-init="getRefItems(field.referenceTo)">
            <ui-select multiple ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refItems[field.referenceTo].totalCount == 0 || refItems[field.referenceTo].totalCount == -1" sortable="true" close-on-select="false" class="defaultInput" style="padding:5px;">
               <ui-select-match placeholder="Select {{collections[field.referenceTo].pluralLabel}}">
                  <small class="fa" ng-class="collections[field.referenceTo].icon"></small> {{$item.number}}
                </ui-select-match>
              <ui-select-choices repeat="refItem._id as refItem in refItems[field.referenceTo].items | propsFilter: {number: $select.search, title: $select.search}">
                <div>
                  <small class="fa" ng-class="collections[field.referenceTo].icon"></small>
                  <span ng-bind-html="refItem.number | highlight: $select.search"></span>
                </div>
                <small ng-bind-html="refItem.title | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </span>

          <!-- User Reference List -->
          <span ng-if="field.displayType == 'userReferenceList'" ng-init="getRefUsers()">
            <ui-select multiple ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refUsers.users && refUsers.users.length == 0" sortable="true" close-on-select="false" class="defaultInput" style="padding:5px;">
              <ui-select-match placeholder="Select Users">
                <small class="fa fa-user"></small> {{$item.firstName}} {{$item.lastName}}
              </ui-select-match>
              <ui-select-choices repeat="refUser._id as refUser in refUsers.users | propsFilter: {firstName: $select.search, lastName: $select.search, emailAddress: $select.search}">
                <div>
                  <small class="fa fa-user"></small>
                  <span ng-bind-html="refUser.firstName | highlight: $select.search"></span>
                  <span ng-bind-html="refUser.lastName | highlight: $select.search"></span>
                </div>
                <small ng-bind-html="refUser.emailAddress | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </span>


          <!-- User Reference -->          
          <span class="input-group" ng-if="field.displayType == 'userReference'" ng-init="getRefUsers()">
            <ui-select ng-model="selectedItem[field.name]" theme="bootstrap" ng-disabled="refUsers.users && refUsers.users.length == 0">
               <ui-select-match placeholder="Select or search a user">
                  <small class="fa fa-user"></small> {{$select.selected.firstName}} {{$select.selected.lastName}}
                </ui-select-match>
              <ui-select-choices repeat="refUser._id as refUser in refUsers.users | propsFilter: {firstName: $select.search, lastName: $select.search, emailAddress: $select.search}">
                <div>
                  <small class="fa fa-user"></small>
                  <span ng-bind-html="refUser.firstName | highlight: $select.search"></span>
                  <span ng-bind-html="refUser.lastName | highlight: $select.search"></span>
                </div>
                <small ng-bind-html="refUser.emailAddress | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>

            <span class="input-group-btn">
              <button type="button" ng-click="selectedItem[field.name] = null" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </span>


         
        </div>
        <!-- End Single field -->

        <!-- Button Row -->
        <div class="col-md-12">
          <!-- Spacer -->
          <div class="col-md-8"></div>
          <!-- Delete button -->
          <div class="col-md-2" style="padding:5px;">
            <button ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" ng-click="deleteOne(selectedItem)" class="btn btn-danger btn-block">Delete</button>
          </div>
          <!-- Buttons -->
          <div class="col-md-2" style="padding:5px;">
            <!-- Create -->
            <button ng-if="currentAction == 'create'" ng-disabled="selectedItemSubmitting" type="submit" class="btn btn-primary btn-block">
              <span ng-if="!selectedItemSubmitting">Submit</span>
              <span ng-if="selectedItemSubmitting"><span class="fa fa-refresh fa-spin"></span> Submitting</span>
            </button>
            <!-- Update -->
            <button ng-if="currentAction == 'update'" ng-disabled="selectedItemSubmitting" type="submit" class="btn btn-primary btn-block">
              <span ng-if="!selectedItemSubmitting">Save</span>
              <span ng-if="selectedItemSubmitting"><span class="fa fa-refresh fa-spin"></span> Saving</span>
            </button>
          </div>
        </div>
        <!-- Button Row -->

      </div>
    </div>
    <!-- Page Content -->

  </form>


</div>
