<div class="container">

  <!-- Page Header -->
  <div class="container-fluid noSpaceMobile">
    <!-- Title -->
    <div class="col-md-12 noSpaceMobile">
      <h3 class="pageHeading">Get help or ask a question</h3>
    </div>
  </div>
  <!-- Page Header -->

  <!-- Content -->
  <div class="container-fluid singleItemContainer text-center">


    <div class="col-md-12">
      <div style="margin:25px;">Thank you.</br> We'll be getting in touch with you soon.</div>
    </div>

    <div class="col-md-6">
      <div style="margin:25px;"><a href="#/support"><span class="fa fa-arrow-left"></span> Ask another question</a></div>
    </div>
    <div class="col-md-6">
      <div style="margin:25px;"><a href="#/">Go to my work <span class="fa fa-arrow-right"></span></a></div>
    </div>


  </div>
  <!-- Content -->

</div>