<!-- Page Header -->
<div class="container-fluid noSpaceMobile">
  <!-- Title -->
  <div class="col-md-12 noSpaceMobile">
    <h3 class="pageHeading">Get help or ask a question</h3>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container-fluid singleItemContainer text-center">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div style="margin:25px;">Thank you.</br> We'll be getting in touch with you soon.</div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div style="margin:25px;"><a href="#/support"><span class="fa fa-arrow-left"></span> Back to support page</a></div>
    </div>
    <div class="col-md-3">
      <div style="margin:25px;"><a href="#/">Go to My Work <span class="fa fa-arrow-right"></span></a></div>
    </div>
    <div class="col-md-3"></div>
  </div>


</div>
<!-- Page Content -->