<div class="container singleItemOuterContainer noSpaceMobile" style="margin-top:25px;">

  <div class="row noSpaceMobile" style="padding:5px;">
    <h3 class="pageHeading">Get help or ask a question</h3>
  </div>

  <form name="helpSubmissionForm" ng-model="helpSubmission" ng-submit="submit(helpSubmission)" novalidate>
    <div class="container singleItemInnerContainer noSpaceMobile" style="padding:25px;">

      <!-- Issue -->
      <div class="row noSpaceMobile">
        <div class="col-md-12">
          <label for="description">How may we help you?</label>
          <textarea ng-disabled="formSubmitting" style="resize:vertical;" rows="5" id="description" name="description" class="form-control defaultInput" value="" ng-model="helpSubmission.description" size="20" required/>
          <span ng-if="helpSubmissionForm.description.$invalid && helpSubmissionForm.description.$touched" ng-init="initInvalidPopover('descriptionRequired','Tell us something!')" id="descriptionRequired" class="fa fa-exclamation-circle textareaInvalid"></span>
        </div>
      </div>

      <!-- Urgency -->
      <div class="row noSpaceMobile">
        <!-- Spacer -->
        <div class="col-md-5">
          <label for="urgency">How urgent is this?</label>
          <select id="urgency" name="urgency" ng-disabled="formSubmitting" class="form-control defaultInput" value="" ng-model="helpSubmission.urgency">
            <option value="Right Now">Right now</option>
            <option value="Today">Today</option>
            <option value="Within the next week">Within the next week</option>
          </select>
        </div>
        <!-- Spacer -->
        <div class="col-md-8"></div>
      </div>

      <!-- Submit button -->
      <div class="row noSpaceMobile">
        <!-- Spacer -->
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button type="submit" ng-disabled="formSubmitting || helpSubmissionForm.$invalid" class="btn btn-primary btn-block" style="margin: 10px 0px 5px 0px">
            <span ng-if="formSubmitting"><i class="fa fa-refresh fa-spin"></i> Submitting</span>
            <span ng-if="!formSubmitting">Submit</span>
          </button>
        </div>
      </div>

    </div>
  </form>
</div>

<!-- Upgrade indicator -->
<div ng-if="accountType == '0'" class="container noSpaceMobile fadeInOut">
  <div class="upgradeAlert clearfix">
    <span class="upgradeAlertIcon"><i class="fa fa-trophy iconXL"></i></span>
    <span class="upgradeAlertText"><strong>Want to go Pro?</strong><br/> Supercharge your Stories by importing and tracking related items like inventory, documentation, and employees</span>
    <span class="upgradeAlertButton">
      <a href="#/account/upgrade" class="btn btn-success">See the full benefits <i class="fa fa-arrow-right"></i></a>
    </span>
  </div>
</div>