<!-- Page Header -->
<div class="container-fluid noSpaceMobile" style="margin-top:25px;">
  <div class="col-md-12 noSpaceMobile">
    <h2 class="noSpace pageHeading">Users</h2>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container-fluid noSpace text-center">
  <!-- Create one card for each user -->
  <div ng-repeat="user in loadedUsers" class="col-md-4">
    <div id="accountSettings" class="itemCard" style="padding-top:15px;">
      <a ng-href="#/account/users/view/{{user.number}}">
        <div class="col-md-12">
          <span class="mainColor fa fa-user fa-3x"></span>
          <span class="cardTitleBreaker"></br></span>
          <h4 class="noSpace">{{ user.firstName }} {{ user.lastName }}</h4>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Footer (with controls) -->
<div class="controlFooter">
  <div class="container-fluid">

    <!-- Alerts -->
    <div class="col-md-10 text-center">
      <span ng-include="'views/includes/alerts.html'"></span>
    </div>

    <!-- Create Button -->
    <div class="col-md-2" style="padding:7px;">
      <!-- Create -->
      <a href="#/account/users/new" type="button" ng-disabled="usersLoading" class="btn btn-success btn-lg btn-block">
        <span class="fa fa-user-plus"></span> New User
      </a>
    </div>

  </div>
</div>