<div class="container">
	<form ng-model="selectedUser" novalidate>

		<!-- Page Header -->
		<div class="container-fluid noSpaceMobile">
		  <div class="col-md-12">
		  	<!-- Title -->
		  	<h3 class="pageHeading">
		  		<span ng-if="!usersLoading && currentAction == 'create'" class="fadeInOut">New User</span>
		  		<span ng-if="!usersLoading && currentAction == 'update'" class="fadeInOut">{{ selectedUser.firstName }} {{ selectedUser.lastName }}</span>
		  	</h3>
		  	<!-- Breadcrumb -->
		  	<div class="breadCrumb">
		    	<a href="javascript:history.back()"><span class="fa fa-arrow-left"></span> Back to all users</a>
		  	</div>
		  </div>
		</div>
		<!-- Page Header -->

		<!-- Page Content -->
		<div class="container noSpaceMobile singleItemContainer">
			<!-- Hidden pwd fields to trick chromc into not auto completing -->
			<input type='password' style="display:none;">
			
			<!-- First Name -->
			<div class="col-sm-4">
				<label for="firstName">First name:</label>
				<input ng-disabled="usersLoading" type="text" id="firstName" name="firstName" class="form-control defaultInput" value="" ng-model="selectedUser.firstName" size="20"/>
			</div>
			<!-- Last Name -->
			<div class="col-sm-4">
				<label for="lastName">Last name:</label>
				<input ng-disabled="usersLoading" type="text" id="lastName" name="lastName" class="form-control defaultInput" value="" ng-model="selectedUser.lastName" size="20"/>
			</div>
			<!-- Phone number -->
			<div class="col-sm-4">
				<label for="phoneNumber">Phone Number:</label>
				<input ng-disabled="usersLoading" type="text" id="phoneNumber" name="phoneNumber" class="form-control defaultInput" value="" ng-model="selectedUser.phone" size="20"/>
			</div>
	
			<!-- Email -->
			<div class="col-lg-8">
				<label for="emailAddress">Email Address:</label>
				<input ng-disabled="usersLoading" type="text" id="emailAddress" name="emailAddress" class="form-control defaultInput" value="" ng-model="selectedUser.emailAddress" size="20"/>
			</div>

			<!-- Spacer -->
			<div class="col-md-9"></div>
			
			<div  class="col-md-3">
				<button ng-disabled="usersLoading" ng-click="updateUser()" class="btn btn-primary btn-block">
					<span ng-if="!usersLoading">Save Changes</span>
					<span ng-if="usersLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving</span>
				</button>
			</div>


		</div>
		<!-- Page Content -->

	</form>
</div>
