<!-- Page header if they have not setup their primary collection -->
<div ng-if="!currentUser.org.primaryCollection" class="container-fluid text-center">
  <div class="col-md-12">
    <h2 class="pageHeading">You haven't set up your business yet</h2>
    <a class="btn btn-success" href="#/account/collections/getstarted"><h3 class="noSpace">Get started now</h3></a>
  </div>
</div>
<!-- Page Header -->

<!-- Page Content -->
<div class="container-fluid" style="margin-top:25px;">

  <div ng-repeat="collection in workableCollections" ng-init="columnClass = (workableCollections.length == 1) ? 'col-md-12' : 'col-md-6'" ng-class="columnClass">
    <div class="collectionReport">
      
      <!-- Collection icon & title -->
      <div class="row noSpace">
        <div class="col-md-10">
          <h2>
            <span class="mainColor fa" ng-class="collection.icon"></span>
            <a ng-href="#/{{collection.name}}"><span> {{ collection.pluralLabel }}</span></a>
          </h2>
        </div>
        <div class="col-md-2 text-right">
          <a ng-href="#/account/collections/view/{{collection.name}}" class="collectionStatusSettingsIcon fa fa-cog"></a>
        </div>
      </div>

      <!-- Breakdown by state -->
      <div class="row noSpace">
        <div class="col-md-12">
          <div ng-repeat="state in collection.stateChoices" style="padding: 5px;">
            <a class="text-left" style="font-size:20px;text-align:left;padding-left:20px;" ng-href="#/{{collection.name}}/search?state={{state}}">
              <span class="badge badgeDark">{{ collectionCounts[collection.name].state[state] }}</span>
              <span><strong>{{ state }}</strong></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Page Content -->